[2019-08-28 14:44] edukmattos opened #1 "tree dont work: No query for results"
HI !
Im using your package and the Trait tree dont work !

In my case $tree = CompanySector::tree()->get();
error: "No query results for Model CompanySector.

The other features are ok

[2019-08-28 14:52] #1 closed, assigned to nobody

[2019-09-17 16:52] jnbn opened #2 "Data too long for column 'path' at row 1"
If you're using MySQL in strict mode I think recursive query results an error if it has more than x characters.

I managed to fix it when I changed the query for casting 255 characters but it may end up with just getting ie 50-60 results which we don't prefer.

Any suggestions on how to fix it without disabling the strict mode?

[2019-09-17 17:58] staudenmeir commented on #2
I've released a new version that sets the string length to 65535. I hope that's sufficient for all use cases.

[2019-09-17 21:12] jnbn commented on #2
Thanks a lot 👍

[2019-09-17 21:12] #2 closed

[2019-09-24 19:44] Tickthokk commented on #1
I was having this same issue. It looks like they require `parent_id`s to be `NULL`.

I was using `0` as my root identifier, but on reflection I did some testing and switched to use NULL over zero.

Hope this helps someone else!

[2019-10-01 14:50] abshammeri opened #3 "Recursive update failed - sql syntax error"
This causes SQL syntax error:
[code]

the generated SQL:
[code]

Error
[code]

nodes table structure:
[code]

software versions:
[code]

Thanks

[2019-10-01 15:44] staudenmeir commented on #3
Unfortunately, MariaDB doesn't support this kind of query yet:
https://jira.mariadb.org/browse/MDEV-18511

[2019-10-02 09:16] abshammeri commented on #3
@staudenmeir Thanks , I'll switch to another db server 👍

[2019-10-02 09:16] #3 closed

[2019-10-04 19:53] fullmad opened #4 "How to get total numbr of descendants ?"
Know we can get list of ancestors and descendants. But how to get counts of the total number of descendants or ancestors

[2019-10-04 19:57] staudenmeir commented on #4
Use `count()`:

[code]

[2019-10-04 19:59] fullmad commented on #4
thanks a lot. However, if you mention this at readme file, it will be helpful for new developers like me. Anyway, very great script and helpful.

[2019-10-04 19:59] #4 closed

[2019-10-04 20:54] ahmedshabnam opened #5 "How to add where clause ?"
suppose I want to add where clause at `Model::where('id', $id)->descendants`. How to achieve that ? Also how to select only specific columns not * ?

[2019-10-04 20:59] staudenmeir commented on #5
[code]

[2019-10-12 01:41] #5 closed

[2019-10-28 01:32] tobyzerner opened #6 "Collision with eloquent-eager-limit"
Getting this when I add both the `HasRecursiveRelationships` and `HasEagerLimit` to a model:

Any way to make the two play nice? I don't need them to work on the same relationship, but different relationships on the same model.

[2019-10-28 02:42] staudenmeir commented on #6
Unfortunately, there's no elegant solution for this. Try the following, it should work with most setups.

Create your own `HasRecursiveRelationships` trait with the code from `Staudenmeir\LaravelAdjacencyList\Eloquent\HasRecursiveRelationships` *except* the line `use QueriesExpressions;`:

[code]

[2019-10-31 03:00] loveyuxiao opened #7 "error when model id with string(uuid)"
[code]

SQLSTATE[42804]: Datatype mismatch: 7 ERROR: recursive query "laravel_cte" column 13 has type character(32)[] in non-recursive term but type bpchar[] overall LINE 1: ...rsive "laravel_cte" as ((select *, -1 as "depth", array["id"... ^ HINT: Cast the output of the non-recursive term to the correct type. (SQL: with recursive "laravel_cte" as ((select *, -1 as "depth", array["id"] as "path" f

[2019-10-31 05:11] staudenmeir commented on #7
I'll look into it.

[2019-11-04 07:35] staudenmeir commented on #4
I added an example to the README.

[2019-11-04 07:55] staudenmeir commented on #7
The latest release fixes this.

[2019-11-11 17:28] chrispage1 opened #8 "Getting tree via another model relationship"
Hi,

Brilliant plugin! I'm having a bit of an issue where the resulting query generates an SQL error.

I have two models - `User` and `File` with corresponding tables, joined by a `FileUser` pivot model.

The `File` model has a parent_id and id and uses the `HasRecursiveRelationships` trait. So what I'm actually trying to do is grab files that are recursively owned by the user -

[code]

However,

[2019-11-11 20:11] staudenmeir commented on #8
Unfortunately, this kind of query is not supported at the moment and I don't see a way to make it work.

You can get the desired result like this:

[code]

This scope is only used internally, but I could add a nice wrapper, something like `treeFrom()`.

[2019-11-12 09:48] chrispage1 commented on #8
Thank you! I thought it might be that it's a little tricky. That solution works nicely, my concern is that it might be a little inefficient when there's a lot of data (there could be hundreds of thousands of files!)

I wish I could work out a more efficient way of sharing a recursive file structure and checking the user has permission to a higher level folder!

[2019-11-12 09:54] staudenmeir commented on #8
Do you mean this particular query or recursive CTEs in general?

[2019-11-12 10:00] chrispage1 commented on #8
Recursive CTE's in general - I'm not too sure how efficient they are?

[2019-11-12 10:08] staudenmeir commented on #8
I don't think there is really an alternative for queries on this kind of structure (besides separate queries for each level).

I haven't tested them with large amounts of data, but I would expect them to run reasonably fast with proper indexing. It would great if you could report back with your experiences.

[2019-11-12 10:16] chrispage1 commented on #8
A bit of a long shot... but as I sole developer myself, I don't suppose I'd be able to talk an idea through with you and see if you have any suggestions on schema? I'm having real problems working out the ideal structure, perhaps even if relational is the way to go... thanks!

[2019-11-12 10:41] staudenmeir commented on #8
Sure, can you write me an email with the requirements for application/schema?

[2019-11-12 13:31] chrispage1 commented on #8
Thank you - I've sent over an email. I appreciate the help!

[2019-11-18 06:00] tobyzerner commented on #6
I'm getting this:

Any ideas? I guess it's looking like I'll need to implement my own Builder and Grammar classes...

[2019-11-18 11:16] staudenmeir commented on #6
Yeah, I'm afraid so. I'll look into ways to simplify that.

[2019-11-18 11:19] tobyzerner commented on #6
Thanks! Maybe if each package could expose a couple traits that can be used to compose the Builder/Grammar classes? Or something like that

[2019-11-21 05:49] patrickomeara opened #9 "possible to get a sub tree?"
Hi Jonas,

Is it possible to get a sub tree from an existing node?

[code]

I assume this would return the same structure that tree does, but only underneath `$node`

Also, is it possible to load children recursively? I originally thought that's what `tree()` would do, but I was wrong, `tree()` returns a flat list.

[2019-11-21 11:45] staudenmeir commented on #9
Aren't the `descendants` the subtree?

You can define a recursive children relationship:

[code]

[2019-11-21 23:12] patrickomeara commented on #9
Yep, I initially thought the tree structure was a nested.

Thanks for your help.

[2019-11-21 23:13] #9 closed

[2019-11-23 05:22] soundar8562 opened #10 "Getting Descendant of Ancestor with Descendant in a single query"
Hello,
Here you can see my ancestor and descendant table,
**Ancestor | Descendant**
Electronics | Computer
Electronics | Laptop
Electronics | Mobile phone

**Here is my code,**
$descendants = Category::find($id)->descendants()->whereDepth(1)->get();
foreach ($descendants as $value) {
echo $value->name;
$ancestor=Category::find($value->id)->ancestors;
echo $ancestor[0]->name;
}
}

**Question:**
As

[2019-11-23 12:38] staudenmeir commented on #10
Please post the table schema and the `Category` model.

[2019-11-23 12:57] #7 closed

[2019-11-25 04:05] soundar8562 commented on #10
Hello, sorry I was on vacation,
**Schema:**
public function up()
    {
        Schema::create('categories', function (Blueprint $table) {
            $table->increments('id');
            $table->string('name');
            $table->integer('parent_id')->nullable()->unsigned();
            $table->timestamps();
        });
        Schema::table('categories', function($table) {
            $table->f

[2019-11-25 04:18] staudenmeir commented on #10
Do you mean eager loading?

[code]

[2019-11-25 04:32] soundar8562 commented on #10
Yes, that's what I want.
The code above is not working :)

[2019-11-25 05:02] staudenmeir commented on #10
What's the error?

[2019-11-25 06:04] soundar8562 commented on #10
![image](https://user-images.githubusercontent.com/54890548/69516368-72d04c80-0f77-11ea-944c-148a8e9c92f8.png)

[2019-11-25 06:24] soundar8562 commented on #10
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'laravel_cte.id' in 'where clause' (SQL: with recursive `laravel_cte` as ((select *, -1 as `depth`, cast(`id` as char(65535)) as `path` from `categories` where `laravel_cte`.`id` in (1)) union all (select `categories`.*, `depth` - 1 as `depth`, concat(`path`, '.', `categories`.`id`) from `categories` inner join `laravel_cte` on `laravel_cte`.`

[2019-11-25 16:21] staudenmeir commented on #10
I'll look into it.

In your specific case, you can actually use the `children` relationship:

[code]

[2019-11-26 04:25] soundar8562 commented on #10
Thanks for the code, it works at the same parent level, but I have to do this for every parent. We are using whereDepth() to get this right now. It could be great if you look into the previous error.

[2019-11-29 10:54] soundar8562 commented on #10
Hello there, I hope you are well!
I am still trying to get the ancestors of descendants any help from your end plz?
Thanks

[2019-11-29 11:20] staudenmeir commented on #10
I'm working on fix a for the eager loading issue.

[2019-11-29 11:25] soundar8562 commented on #10
Thank you so much :)

[2019-11-29 12:14] aFluxx opened #11 "Would this package work with two parent_id? (father_id, mother_id)"
Title stated the question, here's a table drawing my question:

|id|father_id|mother_id|
|---|---|---|
|1|||
|2||   |
|3|1|2|

Wondering if it's possible to do something like `User::find(3)->descendantsAndSelf()` where you would get a tree of the node sibling with it's parents, greatparents etc..

[2019-11-29 20:34] githubgithubhub opened #12 "how to use addGlobalScope with table name"
My model contains a boot function, the boot function use addGlobalScope to add a scope.

And I got this PostgreSQL error **Undefined table: 7 ERROR:  missing FROM-clause entry for table**  when the query in scope contains a table name.
`$builder->where('users.age', '>', 200);`

However the **users.** may be required for some of my queries. For example, when I join table users and table orders whil

[2019-11-30 01:30] staudenmeir commented on #12
When the package queries a recursive relationship, the `FROM` clause has to change (e.g. to `laravel_cte`).

You need to make the scope more flexible to always use the respective table name:

[code]

[2019-11-30 01:41] staudenmeir commented on #11
The package doesn't support this kind of relationship.

I recommend that you use the underlying [CTE package](https://github.com/staudenmeir/laravel-cte) to implement the necessary queries.

[2019-11-30 07:29] githubgithubhub commented on #12
Thank you!
It works!

[2019-11-30 11:44] #12 closed

[2019-12-02 15:31] KoIIIeY opened #13 "Use different primary for tree"
How can I change primary key for selecting?

I have table like
tree_id | link | parent_link

so primary key tree_id is not a leaf identifier.
I can change name for parent_link, and want to change tree_id to link

[2019-12-02 16:21] staudenmeir commented on #13
I'll look into it.

[2019-12-04 12:14] KoIIIeY commented on #13
And second question:
I need to select only leafs that has goods with remain > 0

but
return $q->whereHas('descendants', function($e){
           $e->whereHas('goods', function($f){
                $f->having('stocks_remain_sum', '>', 0);
            });
       });

gives me error 500 without any errors or explanation.

[2019-12-04 14:58] staudenmeir commented on #13
Did you enable `APP_DEBUG` in your `.env` file?

[2019-12-04 15:41] KoIIIeY commented on #13
Yeah, of course.
Maybe it's because I started changing your code for primary keys, I already changes some code in "descendants"

[2019-12-05 07:52] KoIIIeY commented on #13
plz, look at these files

https://github.com/KoIIIeY/laravel-adjacency-list/blob/master/src/Eloquent/HasRecursiveRelationships.php

https://github.com/KoIIIeY/laravel-adjacency-list/blob/master/src/Eloquent/Relations/Descendants.php

and changes in it.

I added getter for primary leaf name
public function getPrimaryTreeKeyName(){
        return 'id';
    }

Works ok, but created path is wrong, it'

[2019-12-05 17:32] alphametric opened #14 "Getting the count of related models"
Hi,

Firstly, amazing package! Thanks so much.

I'm trying to use it to get the total counts of related models. Consider the following example... a hierarchical `areas` table that I use the `tree` method on e.g.

`Area::tree()->depthFirst()->get()`

So you end up with something like this:

[code]

Now imagine a `properties` table that is related to `area` via `area_id` and I want the number of pro

[2019-12-05 18:09] staudenmeir commented on #14
Do you mean `-> Los Angeles (1)`?

[2019-12-05 18:21] alphametric commented on #14
Hi,

Not quite, no. The figure displayed for each area should be the total number of properties for that area + the total number of properties that use an area which is a descendant of that area.

Using the example...

Hollywood (2) and Santa Monica (3) belong to Los Angeles, so their respective property counts (2 and 3) are added together to make Los Angeles (5). There is also one property that h

[2019-12-05 18:22] alphametric commented on #14
All areas can have properties. Whether they are root or not, does not matter.

[2019-12-05 20:06] staudenmeir commented on #14
The easiest solution would be fetching all descendants and calculating the sums in PHP/Laravel.

I assume you are looking for an in-query approach you can implement as a scope?

[2019-12-05 20:18] alphametric commented on #14
That would involve potentially a great many queries depending on the depth though, right?

Ideally, yes, one query would be ideal, but I don’t know how practical / efficient it would be...

[2019-12-05 20:30] staudenmeir commented on #14
Do you know what the typical use case(s) would look like?

- Would you fetch a (sub)tree and add a column with the total number of properties to each area?
- Or would you want to get the total number of properties for a single area?
- Or both?

[2019-12-05 20:55] alphametric commented on #14
My use case is a recursive top to bottom / parent to all grandchildren. A query that returns the depth and property totals at each level for all siblings.

The data is being put into a report for printing, so I think it’s the first option?

[2019-12-05 21:37] staudenmeir commented on #14
In this case, the PHP/Laravel approach should actually be faster. I'm thinking of this query:

[code]

You would run a single recursive query that executes a subquery for each area. You would then have to write a recursive PHP method to calculate the total number of properties for each area. Do you know what I mean?

The alternative would be a *recursive* `withCount()` subquery that counts the tot

[2019-12-06 07:09] alphametric commented on #14
The first approach I understand, however unless I'm interpreting it wrong, you would get incorrect values if you were to paginate the result set? I know I mentioned earlier it was a report, but I'm just trying to cover all bases.

I think I would prefer the recursive sub query. Okay, it may be slower, but it won't matter if the results were paginated. Do you have any idea what that recursive sub q

[2019-12-06 07:51] alphametric commented on #14
This might be useful: https://mysqlserverteam.com/mysql-8-0-labs-recursive-common-table-expressions-in-mysql-ctes-part-three-hierarchies/

See section "Aggregate functions in a nested set"

[2019-12-06 09:04] alphametric commented on #14
Okay, I've got a working example, however if there are no listings for a particular area, then `listing_count` will be NULL instead of 0. Any idea how to transform this into an Eloquent query:

[code]

[2019-12-06 11:02] staudenmeir commented on #14
Yeah, that's a downside.

I'll look into it.

[2019-12-06 11:05] alphametric commented on #14
Thanks!

I was able to use a query like so:

[code]

[2019-12-08 00:03] staudenmeir commented on #14
In this case, the `GROUP BY` clause is actually not necessary and removing it also solves the `null` issue:

[code]

[2019-12-08 00:05] staudenmeir commented on #14
I'll look into adding a `withRecursiveCount()` method to the package.

[2019-12-08 01:05] #11 closed

[2019-12-08 12:40] staudenmeir commented on #14
Regarding the table name in the `$cte` query: I was wondering whether there's a difference between `laravel_cte` and `areas`.

I get the same result for your tree query or queries like `Area::find($id)->descendants()->[...]`.

However, only `areas` works correctly for queries like `Area::find($id)->ancestors()->[...]`:

[code]

Or using the `Area` model:

[code]

[2019-12-08 17:53] alphametric commented on #14
Thanks so much!

 I’ll try this out and report back my findings.

[2019-12-09 08:07] alphametric commented on #14
So the query works as advertised. Thanks so much for that! Really happy to no longer be using raw SQL.

Regarding your table name comment, when I tried replacing `laravel_cte` with `areas` for this: `-> whereColumn("cte.id", "laravel_cte.id")`, it gave me a SQL error, however this might be due to me also adding further `where` restrictions for data based on the current tenant.

Personally, I'm hap

[2019-12-09 08:07] #14 closed

[2019-12-09 12:11] johnlemuel-hapa opened #15 "Dynamically change parent key name in model."
Hi how can i dynamically change the parent key name in my model?

Right now I override the `getParentKeyName` method in my model but what if I need to dynamically change it because in my project I have two features in which they have different `parent key name`.

Thanks you.

[2019-12-09 13:18] staudenmeir commented on #15
What do you mean by "features"? Can you provide details?

[2019-12-09 13:23] staudenmeir commented on #14
This constraint always has to refer to `laravel_cte` ;-)

[2019-12-09 16:32] alphametric commented on #14
Ah, right. Got it. Thanks!

[2019-12-10 03:53] johnlemuel-hapa commented on #15
I have a `placement_user_id` and `sponsor_user_id` in my `User` Table. I have one feature in my app that needs to view the graph of the tree base on `placement_user_id` as its `parent key name` and another feature in my app that needs to view the graph of the tree base on `sponsor_user_id` as its  `parent key name`. How can I dynamically change it?

[2019-12-10 05:18] staudenmeir commented on #15
You can achieve this with a getter and a setter:

[code]

[2019-12-16 06:40] soundar8562 commented on #10
Any updates for the eager loading?

[2019-12-16 19:27] staudenmeir commented on #10
I'm still working on it.

[2019-12-19 14:25] aFluxx commented on #11
Didn't get a notification of your answer! Thanks for clarying, I'll have to dig into the underlying package!

[2019-12-25 16:04] staudenmeir commented on #10
I've released a new version that fixes this issue.

[2019-12-26 03:47] soundar8562 commented on #10
Awesome Thanks
I am gonna try this out :)

[2019-12-26 04:39] soundar8562 commented on #10
Thank you so much, it works like a charm and I'm excited to know what you did to make it happen.

[2019-12-28 11:00] staudenmeir commented on #10
The necessary change was rather small: https://github.com/staudenmeir/laravel-adjacency-list/commit/f232d4f033dfc5f1084d3543648b6c6119fb62be

[2019-12-28 11:02] #15 closed

[2019-12-30 16:44] ljieyao opened #16 "Unknown SQL error"
I got encountered error as follow:

[code]

[2019-12-30 17:09] ljieyao commented on #16
ok. my bad. I didn't realize it have to be used with mysql version 8. you may please emphasize this in the readme.

[2019-12-30 17:09] #16 closed

[2019-12-31 23:16] #10 closed

[2020-01-02 22:20] Alig96 opened #17 "Scoping relationships"
How would I query a relationship like `whereDescendantOf($node)` using qbuilder?

[2020-01-02 23:00] staudenmeir commented on #17
Can you please provide more details?

[2020-01-03 02:00] patrickomeara commented on #17
We do it like this, I hope it helps.

[code]

[2020-01-03 08:35] Alig96 commented on #17
I'm currently testing performance between this package and
https://github.com/lazychaser/laravel-nestedset to see which is best for my situation. The linked package defines some additional query builder methods for finding nodes that are the descendant/ancestor of a given node. What would be the equivalent of these constraints for this package?

My issue with this is that this requires 2 queries t

[2020-01-03 11:38] staudenmeir commented on #17
I'll look into it.

[2020-01-06 13:53] ftb opened #18 "recursive seems not working"
Hi Jonas.
It seems something is broken. All queries that tries to go recursive I have error:
Illuminate/Database/QueryException with message 'SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'recursive `laravel_cte` as ((select *, 0 as `depth`, cast(`id` as c

[2020-01-06 14:05] staudenmeir commented on #18
Are you using MySQL or MariaDB? What version?

[2020-01-06 15:46] ftb commented on #18
mysql 5.7.24

[2020-01-06 16:56] staudenmeir commented on #18
The package requires MySQL 8.0+: https://github.com/staudenmeir/laravel-adjacency-list#compatibility

Unfortunately, older versions of  MySQL don't support common table expressions.

You can still use the `children`, `parent` ahd `siblings` relationships, but `ancestors` and `descendants` don't work.

[2020-01-06 17:15] ftb commented on #18
I miss that... thanks Jonas

[2020-01-06 23:14] ftb commented on #18
me again... just my two cents..
MariaDB 10.4.11 -> all ok
mysql CE 8.0.18 -> I need some test. just installed and the problem remain. tomorrow i'll try again

[2020-01-07 00:46] staudenmeir commented on #18
Can you confirm the database version with `DB::getPdo()->getAttribute(PDO::ATTR_SERVER_VERSION)`?

[2020-01-07 19:32] ftb commented on #18
version confirmed, but not confirmed iussue. Yesterday install of 2 DB, probably had caused some problems. Today fresh install and no problem at all.
thanks again
ftb

[2020-01-07 19:32] #18 closed

[2020-01-14 01:50] staudenmeir commented on #17
Can you share the implemention of `scopeCategorizedBy()` with nested sets and `whereDescendantOrSelf()`?

[2020-01-16 19:33] Alig96 commented on #17
[code]

https://github.com/lazychaser/laravel-nestedset/blob/f6f6d7368ef7aeadbffa288ce7454c22d7ad3160/src/QueryBuilder.php#L272

[2020-01-19 21:06] sdudasko opened #19 "Syntax error or access violation: 1064"
When I try to fetch data such as:
`dd(ConfluencePage::with('descendants')->first());` I get this error

[code]

I checked for special column names that could violate syntax but no success there. In model I just used the package trait and overridden `getParentKeyName()` method:

[code]

[2020-01-19 21:23] staudenmeir commented on #19
Your version of MySQL/MariaDB is not supported by the package, it requires MySQL 8.0/MariaDB 10.2:
https://github.com/staudenmeir/laravel-adjacency-list#compatibility

Unfortunately, older versions of MySQL/MariaDB don't support common table expressions.

[2020-01-20 08:32] sdudasko commented on #19
@staudenmeir thanks. I am calling this query only one time and I know it is not the best solution but could you advise me how to correct the query to satisfy the syntax?

[2020-01-20 10:07] staudenmeir commented on #19
What version of MySQL/MariaDB are you using?

[2020-01-20 10:18] sdudasko commented on #19
It's MySQL 5.7

[2020-01-20 10:33] staudenmeir commented on #19
It's not possible to use the package with MySQL 5.7.

You would need to upgrade to MySQL 8.0 or use a different database engine.

[2020-01-21 21:10] #19 closed

[2020-01-21 21:13] staudenmeir commented on #13
Sorry for the late response.

I've released a new version that adds support for custom local keys (requires Laravel 6):

[code]

[2020-01-23 13:20] KoIIIeY commented on #13
All ok. thanks.

[2020-01-23 13:20] #13 closed

[2020-02-17 19:47] Naghal commented on #14
Hi, are you still planning to add `withRecursiveCount` to the package? I have the exact same use case as alphametric and I'd like to see that implemented in this package.

[2020-02-18 11:42] staudenmeir commented on #14
@Naghal Yes, I'm still working on it.

Please post the error message as a text. What Laravel version are you using?

[2020-02-18 13:25] Naghal commented on #14
Hi, here is the text version.
[code]

[2020-02-19 00:13] staudenmeir commented on #14
It looks like another plugin is conflicting with this one.

You can solve the issue by replacing `DB::table('cte')` with `Rubric::from('cte')`.

[2020-02-20 12:14] sagar-noovosoft opened #20 "Tree with orderBy"
Hi 👋

I'm trying to use `orderBy` with `tree()`

### Code
[code]

In above code if I do not specify condition for `parent_id` then it returns all records at first level

Also no effect of orderBy in the result of above query

[2020-02-20 23:44] staudenmeir commented on #20
This is actually the expected behavior of the `tree()` scope.

You can get nested results with a recursive relationship:

[code]

You would need to add the `orderBy()` clauses to the query and the relationship.

[2020-02-21 04:06] sagar-noovosoft commented on #20
Thanks @staudenmeir 🙂

[2020-02-21 04:06] #20 closed

[2020-03-16 11:22] obtoon opened #21 "Polymorphic self referencing support"
I assume this package doesn't support this, and I'll have to use the laravel cte package directly.

Let's say I have two classes: Parent and Child. The Child class either belongs to a Parent, or another Child, through a polymorphic relationship.

Parent
id - integer

Child
id - integer
groupable_id - integer
groupable_type - string (either Child or Parent).

The problem with this is, when I use Ha

[2020-03-16 12:06] obtoon commented on #21
Not to worry, my current solution is to override each of the trait methods, and just add a local scope to each of them with ->where('groupable_type', 'Child');

[2020-03-16 14:45] staudenmeir commented on #21
No, this kind of relationship is not supported. Does your current solution work for all use cases?

[2020-03-16 23:33] obtoon commented on #21
Not sure, going to write a couple of tests to make sure and I'll get back to you.

[2020-03-18 08:43] obtoon commented on #21
Didn't manage to solve this easily. I got most of the way, but it ended up being way to unmaintainable. I just ended up changing my implementation by having separate fields for the self relation and the parent one.

Thanks.

[2020-03-18 08:43] #21 closed

[2020-03-20 03:58] vanthao03596 opened #22 "[Question] Get level of node"
Can i get level of single node ?

[2020-03-20 07:20] patrickomeara commented on #22
https://github.com/staudenmeir/laravel-adjacency-list#depth

[2020-03-20 14:35] staudenmeir commented on #22
Do you want to get the (relative) level of a node in a query result (see @patrickomeara's link)?

Or do you want to get the (absolute) level from a node's ID/model instance?

[2020-03-20 14:54] vanthao03596 commented on #22
@staudenmeir I want get node ID 10 info with level.

[2020-03-20 15:38] staudenmeir commented on #22
You can only get the node's level from its root ancestor:

[code]

[2020-03-21 02:57] vanthao03596 commented on #22
Thanks @staudenmeir
I tried Taxon::tree()->where('id', 51)->first() and get correct result
Here is my tree
![1](https://user-images.githubusercontent.com/34786441/77218032-bddf2280-6b59-11ea-9a88-1484524285b9.png)
Here is tinker result
![2](https://user-images.githubusercontent.com/34786441/77218043-d3ece300-6b59-11ea-8c76-7e63e9d69b56.png)
Here is generate query by debugbar
![Screenshot from 2020

[2020-03-21 13:22] staudenmeir commented on #22
This also works, but the query will take longer the bigger your tree gets (the query needs to build the _whole_ tree just to return a single node).

The approach I posted executes two queries, but their runtime is stable.

[2020-03-21 13:49] vanthao03596 commented on #22
Thank for help. You are amazing
Keep up the good work !

[2020-03-21 13:49] #22 closed

[2020-03-22 12:00] mdpoulter opened #23 "Strange results when querying relationships"
Hi @staudenmeir

Thanks so much for the great package!

I have run into a problem that I'm hoping is just something that I'm missing... Essentially, I have a `Page` model which utilises your package, and has a `status` field to indicate whether it is enabled or not.

I am now trying to to get a list of all pages which are enabled (where `status = 1`) where all their ancestors are also enabled. My

[2020-03-22 14:17] mdpoulter opened #24 "[Feature Request] Customisable path key name"
Sorry, me again!

It doesn't appear to be possible currently, but I'm wondering if it would be possible to add an additional customisation to the generated `path` field, specifically a way to set the key name to be used in the path.

My use case is to generate slug-based URLs which include all ancestors' slugs, for example `slug-one/slug-two/slug-three`. I am currently doing this after the databas

[2020-03-22 15:05] staudenmeir commented on #24
It's not possible to customize the existing path variable like this because it's used internally, but I can add a new feature for additional custom paths. I'll look into it.

How are you querying the pages in your case?

[2020-03-22 16:56] staudenmeir commented on #23
Interesting issue. I can reproduce it on MySQL, but I'm getting the correct result on PostgreSQL.

I'll look into it.

[2020-03-22 17:14] staudenmeir commented on #23
As a workaround, here is an equivalent query that returns the correct result:

[code]

[2020-03-22 18:21] mdpoulter commented on #23
Thanks for the workaround! It seems to work for 3 levels, but not for 4 unfortunately, which is strange. For example, given the following data:

[code]

It returns both pages `1` and `4`. It seems that the `where` inside the anonymous function is only looking at the direct ancestor, but not all recursive ones.

Thanks for looking into this!

[2020-03-22 18:27] mdpoulter commented on #24
Ah I see! I think it would be a great addition 👍

I'm currently using something like this:

[code]

This, however, hydrates the models of all the ancestors, so when I want to do this with several pages, it starts to add up!

[2020-03-22 18:40] staudenmeir commented on #23
Weird, looks like a bigger issue. Again, the query works on PostgreSQL.

[2020-03-22 18:45] mdpoulter commented on #23
Yeah, I'm stuck on MySQL at the moment, but may look into PostgreSQL if it doesn't look fixable.

[2020-03-22 18:49] staudenmeir commented on #23
I'm working on a bug report to the MySQL team.

[2020-03-22 19:34] mdpoulter commented on #23
Thank you!

[2020-03-22 21:11] staudenmeir commented on #23
The bug has been confirmed: https://bugs.mysql.com/bug.php?id=99025

It's a regression,  the query worked in 8.0.16.

[2020-03-23 07:11] mdpoulter commented on #23
Ah interesting! I'll rollback to 8.0.16 for now then until it's fixed. Thanks for submitting that!

[2020-03-24 03:39] patrickomeara opened #25 "What's the best way to get relationship of all nodes in tree"
I have a situation where `Category` has hierarchy and all categories have `Post`s.

[code]

Is there a relationship I can put on `Category` to get the posts from itself and it's descendants?

[2020-03-24 16:30] staudenmeir commented on #25
There is no relationship, but I'll look into it.

[2020-03-24 16:40] staudenmeir commented on #23
I'm going to close this since it's not an issue with the package.

[2020-03-24 16:40] #23 closed

[2020-03-26 08:11] vanthao03596 commented on #6
@staudenmeir any update status ?

[2020-03-26 14:11] staudenmeir commented on #6
I'm still working on it.

[2020-03-28 07:53] ipimpat opened #26 "[Feature request] Recursive relationships defined in related table"
It would be super awesome if the recursive relationships could be defined in a related table, so a model could have multiple parents.

the nodes table:

[code]

parent/child relationship table:

[code]

[2020-03-28 13:58] staudenmeir commented on #26
I'll look into it.

[2020-04-06 15:28] lopezdonaque opened #28 "[Error] Recursive queries when using "Eager Loading By Default""
Version: 1.3
Laravel version: 6.x
Expected: Only one CTE query is executed

When using a default relation it causes that more than one query is executed.

[code]

[2020-04-06 15:45] staudenmeir commented on #28
What are the executed queries?

[2020-04-06 15:58] lopezdonaque commented on #28
I have the table "location" with a "parent_id".
When I find a single location with "ancestors" as default eager loading it executes the next queries:

`Location::query()->find(1812)`

![error_locations](https://user-images.githubusercontent.com/735972/78578486-e476ac00-782f-11ea-95a7-c24fc43f60fb.png)

[2020-04-06 16:18] staudenmeir commented on #28
Please post the whole `Location` model.

[2020-04-06 16:28] lopezdonaque commented on #28
I have only a Location model.
The author is just the example from Laravel documentation.

[code]

[code]

[2020-04-06 16:53] staudenmeir commented on #28
This is the correct behavior: When you load the ancestors of location `1812`, `$with` is applied to every one of them and all _their_ ancestors are loaded. This continues recursively until there are no more ancestors to load.

In general, I advise against using `$with`. I would add eager loading to the query:

[code]

[2020-04-06 17:04] lopezdonaque commented on #28
Then, in general, it's not the same to use eager loading in the query builder and in the default section of the model?
I think it should be the same.

[2020-04-06 17:17] staudenmeir commented on #28
In a "normal" case (like the example from the documentation), they basically behave the same way.

What makes your situation special, is the fact that the related model is the same as the parent model. I would say that `$with` is more or less unusable for recursive relationships.

[2020-04-06 17:21] lopezdonaque commented on #28
Understood.
You could close the issue.
Thanks and nice work with this and your other repositories!

[2020-04-06 17:38] staudenmeir commented on #28
Thanks!

[2020-04-06 17:38] #28 closed

[2020-04-07 16:31] nonovd opened #29 "Control maximum depth inside the recursive query"
## Problem

When limiting the depth with `whereDepth()`, the CTE will still first build the entire tree which can lead to a big performance hit.

## Thoughts

I feel it would be better to be able to break out of the recursive query.

It can be done by moving the where clause into the recursive query:

[code]

We would have to change the api, for example:

[code]

## Perspective

More generally, I

[2020-04-07 17:20] staudenmeir commented on #29
Thanks, I'll look into it.

[2020-04-08 01:09] patrickomeara commented on #29
I agree, it would be nice to manipulate the queries, adding joins would be beneficial in our app.

I would consider this feature a more advanced use case though. The out of the box simplicity of this package is still important.

[2020-04-17 20:50] ferox opened #30 "ErrorException (E_ERROR): "'concat' is not a recognized built-in function name.""
**SGBD: SQL Server 2008r2**

* ErrorException (E_ERROR): "SQLSTATE[42000]: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]'concat' is not a recognized built-in function name."

[2020-04-17 21:57] staudenmeir commented on #30
Can you please test this fix before I release it? I don't have an SQL Server 2008 installation.

Replace `compileRecursivePath()` in `vendor/staudenmeir/laravel-adjacency-list/src/Query/Grammars/SqlServerGrammar.php` with this:

[code]

[2020-04-18 11:49] ferox commented on #30
Yeah, it works like a charm!!!!

Thanks.

[2020-04-18 15:17] staudenmeir commented on #30
Thanks, I've released a new version.

[2020-04-19 16:18] #30 closed

[2020-04-26 02:53] staudenmeir commented on #29
@patrickomeara Could you provide details about your use case?

[2020-04-26 08:42] patrickomeara commented on #29
You can ignore my comment @staudenmeir

We went back to the drawing board with our issue and came up with a more performant way to get the data we needed.

[2020-04-26 10:38] nonovd commented on #29
Let's say we have a Comment model where every comment can reply to any other comment and we want to build the comments tree,

Well easy, we can just:

[code]

Now let's assume we have a 20-level deep tree, but I just want the first 2 levels:

[code]

It works but SQL is building the entire 20-level deep tree anyway (see first message).

Now a real-life use case would be to get the comments tree on

[2020-04-26 16:41] staudenmeir commented on #29
@nonovd There is a workaround for queries like this and I'm working on a better solution:
https://github.com/staudenmeir/laravel-adjacency-list/issues/8#issuecomment-552595588

[2020-04-26 19:02] staudenmeir commented on #29
My current plan is a `subtree()` scope that allows users to provide their own constraints for the initial query. The scope could also support relationships and build the initial constraint from it:

[code]

`$post->comments()->tree()` would be nicer, but I don't see a good way to implement that.

[2020-05-04 10:58] ferox opened #31 "Conflict with illuminate/database dependency"
Laravel Framework v5.8.30.

I can't install 1.3.1 version it requires **illuminate/database ^6.0**.

See - **staudenmeir/laravel-adjacency-list v1.3.1** requires illuminate/database ^6.0 -> satisfiable by illuminate/database[6.x-dev, v6.0.0, v6.0.1, v6.0.2, v6.0.3, v6.0.4, v6.1.0, v6.10.0, v6.11.0, v6.12.0, v6.13.0, v6.13.1, v6.14.0, v6.15.0, v6.15.1, v6.16.0, v6.17.0, v6.17.1, v6.18.0, v6.18.1, v

[2020-05-04 14:41] staudenmeir commented on #31
Yes, every package version only works with a specific Laravel version.

With the installation command from the [README](https://github.com/staudenmeir/laravel-adjacency-list#installation), you always get the correct version:

[code]

Or do you explicitly need `v1.3.1`?

[2020-05-04 17:28] ferox commented on #31
Well, the 1.3.1 version is the one that you add Support for SQL Server 2008r2.

Updating the composer,json file with the correct version (1.3.1) and then running composer update I got this error requiring illuminate/database ^6.0.

Can you update de version 1.1.4 with the support of SQL Server 2008r2?

[2020-05-04 18:30] staudenmeir commented on #31
I've backported the fix and released `v1.1.5`.

[2020-05-05 13:49] ferox commented on #31
Thanks man!!!

[2020-05-05 13:49] ferox commented on #31
It works!

[2020-05-05 13:49] #31 closed

[2020-05-12 11:23] es-ka opened #32 "Multiple lists within one table"
Is it possible to handle more than one list within one database table? There's an extra column `list_id` indicating to which list each element belongs.

Getting descendants of a given element seems to work but getting the whole tree silently fails with an empty result.

[2020-05-12 11:31] staudenmeir commented on #32
Do you have root nodes with `parent_id = null`?

[2020-05-12 12:17] es-ka commented on #32
`Element::where('list_id', $id)->tree()->get()`
What should it look like?

My root nodes have `parent_id = 0`

[2020-05-12 15:04] staudenmeir commented on #32
The `tree()` scope expects root nodes with `parent_id = null`.

You can get the tree like this:

[code]

This scope is only used internally, but I'm already working on a public version.

[2020-05-13 02:25] patrickomeara commented on #25
It would also be handy to get the count of posts cleanly. This is initially why I mentioned joins in https://github.com/staudenmeir/laravel-adjacency-list/issues/29#issuecomment-610696255

[code]

Any idea if this is currently possible @staudenmeir ?

[2020-05-13 02:42] staudenmeir commented on #25
It's possible with a custom query:

[code]

For the past few weeks, I've been working on a new relationship type that will allow you to get the descendants' posts recursively and easily count them with `withCount()`. I should be able to release it soon.

[2020-05-13 12:02] es-ka commented on #32
That throws a type error:

`Argument 1 passed to App\Http\Controllers\ElementsController::App\Http\Controllers\{closure}() must be an instance of App\Http\Controllers\Builder, instance of Staudenmeir\LaravelAdjacencyList\Eloquent\Builder given, called in /MY_PATH/vendor/staudenmeir/laravel-adjacency-list/src/Eloquent/HasRecursiveRelationshipScopes.php on line 171`

Did I miss something?

[2020-05-13 13:50] staudenmeir commented on #32
You need to import the `Builder` class at the top of the file (or remove the type hint):

[code]

[2020-05-23 13:56] Rotario opened #33 "Is there a way to generate a nested list?"
Hi,
I love the library, just a quick question. Is there a way to generate a nested list for a given root ID please?
I've got a table like
Site table
id   |   name   | is_site_to

and getParentKeyName() to return is_site to, so that all works

But when I call

Site::find(1)->descendants->get()

Then I get a flat list of sites and their descendants, is there any way to make this nested please?

[2020-05-23 14:22] staudenmeir commented on #33
It's not possible yet, but the feature is on my TODO list.

[2020-05-23 14:23] Rotario commented on #33
Ah Thanks! I thought it worked, somehow I did it but I forgot. I will have to do it in javascript then.

[2020-05-23 15:16] staudenmeir commented on #33
You can also get nested lists with recursive `HasMany` relationships:

[code]

Unlike the package, this solution executes multiple separate queries (depending on the tree's size).

[2020-05-23 16:00] Rotario commented on #33
Yeah I was trying to do it in my API ResourceCollection, but that does some weird things with objects and arrays so I'm just doing it in the Controller

[2020-05-25 06:40] staudenmeir commented on #29
@nonovd Regarding your example with posts and comments: You have a similar use case in your application, right? Could you share details?

[2020-06-01 10:10] staudenmeir commented on #24
The latest release adds custom paths:
https://github.com/staudenmeir/laravel-adjacency-list#custom-paths

[code]

[2020-06-01 10:12] staudenmeir commented on #32
The latest release adds the `treeOf()` scope for custom constraints:

[code]

[2020-06-01 10:19] staudenmeir commented on #29
The latest release adds a `treeOf()` scope and a parameter for limiting the maximum depth:

[code]

[2020-06-01 10:28] staudenmeir commented on #25
The latest release adds a `HasManyOfDescendants` relation:
https://github.com/staudenmeir/laravel-adjacency-list#custom-relationships

[code]

[2020-06-01 10:35] staudenmeir commented on #14
The latest release allows you to recursively retrieve and count related models with `HasManyOfDescendants` relationships:
https://github.com/staudenmeir/laravel-adjacency-list#custom-relationships

[code]

[2020-06-01 11:18] SagarNaliyapara commented on #25
AWESOME, Great work 👏 @staudenmeir Thanks a lot

[2020-06-01 11:41] TheBoro opened #34 "How to get depth value with tree ()"
`$categories = Category::select('id', 'title')->tree()->depthFirst()->get();`

How to get depth value?

Is there something like
`$categories[2]->depth;`

[2020-06-01 11:44] TheBoro commented on #34
I am stupid....
`$categories = Category::select('id', 'title', 'depth')->tree()->depthFirst()->get();`

[2020-06-01 11:44] #34 closed

[2020-06-03 19:16] es-ka commented on #32
That's great news. It works like a charm.
Thanks a lot!

[2020-06-03 19:16] #32 closed

[2020-06-04 02:36] vanthao03596 commented on #25
Is it possible to make polymorphic relationship work.
I have 4 table categories, categorizables, posts, products.
categorizable:
category_id:
categorizable_type: (products or posts)
categorizable_id: (product id or post id)

I want to get all posts or products like "hasManyOfDescendantsAndSelf relationship"

[2020-06-04 07:12] staudenmeir commented on #25
I'll look into it.

[2020-06-08 03:54] sagar-noovosoft commented on #24
@staudenmeir do you have any idea how we can get custom path from root node to current node?

[2020-06-08 07:01] staudenmeir commented on #24
@sagar-noovosoft Are you only retrieving a single node?

[2020-06-08 07:10] sagar-noovosoft commented on #24
@staudenmeir I've tried both of the following but nothing seems working for me,

- $product = Product::find(7)->descendantsAndSelf;

I'm expecting
[code]
but getting,
[code]

- $product = Product::find(7)->ancestorsAndSelf;

Output,
[code]

@staudenmeir how can I get full custom path from root node to current node?

[2020-06-08 22:10] staudenmeir commented on #24
`slug_path` can only contain the whole path if you run a query like `Product::tree()->get()`. You could use `Product::tree()->find(7)`, but that would be quite inefficient (it builds the whole tree internally).

In your case, you would need to build slug path manually (the second option is slightly faster):

[code]

[2020-06-11 13:09] #29 closed

[2020-06-11 13:09] #24 closed

[2020-06-15 01:01] jonagoldman commented on #26
Arrived here searching for an implementation of the 'Closure Table' pattern.
The table structure is similar, just without the 'parent_id' column. All relations are handled in the relations table, so the nodes are not mixed with the relations (or edges). This also allows for multiple parents.

The original implementation of the Closure Table pattern involves storing all possible paths, not just tho

[2020-06-15 18:35] staudenmeir commented on #26
Thanks, I'll take a look.

[2020-06-15 21:12] staudenmeir commented on #26
Can you both share details about your use cases (e.g. migrations)?

[2020-06-16 23:12] jonagoldman commented on #26
A good example is a product catalog where a product can also be a bundle or contain other products:

- Bar
  - Drinks
    - Tonic Water
    - Orange Juice
    - Gin
    - Bitter Blossom
      - Tonic Water
      - Orange Juice
      - Gin

Bar and Drinks are categories. All drinks can be bought individually, also the Bitter Blossom recipe contains multiple drinks.

Assuming MySQL is used, this can

[2020-06-17 03:27] ipimpat commented on #26
My table structure is very similar to @jonagoldman's example.

I think this is also called Bill of materials: https://www.vertabelo.com/blog/identifying-the-bill-of-materials-bom-structure-in-databases/ ?

I use it to store food recipes / ingredients and then estimate the weight of "raw"/"base" ingredients in the recipe.

Take for instance a ham sandwich, which consists of some ham meat, two slice

[2020-06-17 04:46] jonagoldman commented on #26
Exactly the same thing @ipimpat! I store the capacity of each bottle in millilitres and the amount required for each drink. Then I calculate the total amount used for each product and divide that by the capacity of the bottle so I know how many bottles where used in total, and how many I have left in stock.

[2020-06-17 09:37] KoIIIeY opened #35 "hasManyOfDescendantsAndSelf not working"
[code]

[code]

[code]

And error

`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'trees.link' in 'where clause' (SQL: select `trees`.*, (with recursive `laravel_cte` as ((select * from `trees` as `laravel_reserved_0` where `laravel_reserved_0`.`link` = `trees`.`link`) union all (select `trees`.* from `trees` inner join `laravel_cte` on `laravel_cte`.`link` = `trees`.`parent_link`)) selec

[2020-06-17 10:41] KoIIIeY commented on #35
Problem in mariaDB.

Your code not work in any mariadb (i'm on 10.4), but work in mysql

[2020-06-17 11:50] staudenmeir commented on #35
Please post the migrations of `trees` and `goods`.

[2020-06-17 11:57] KoIIIeY commented on #35
[code]

[2020-06-17 12:05] staudenmeir commented on #35
Unfortunately, MariaDB doesn't support this kind of query yet:
https://jira.mariadb.org/browse/MDEV-19077

It's not ideal, but you could fetch all goods with `->with('recursiveGoods')` and then count them in your application.

[2020-06-17 12:08] KoIIIeY commented on #35
May be I can rewrite query to get all trees with goods counts?

[2020-06-17 12:53] staudenmeir commented on #35
I don't see a way to rewrite this query for MariaDB.

[2020-06-17 12:55] KoIIIeY commented on #35
ok, thanks

[2020-06-17 12:55] #35 closed

[2020-07-01 22:36] hfalucas opened #36 "Trouble overriding the parent key name on runtime"
Hey there,

I've been trying with no success to understand what I'm doing wrong while overriding the 'parent key name' dynamically. For the sake of example lets say I have a 'Post' model with these fields `parent_id` and `original_post_id`.
When I need to get the ancestors or children related with parent_id everything works fine, but when using the original_post_id everything breaks up.

[code]

I

[2020-07-01 22:59] staudenmeir commented on #36
I'll look into it.

[2020-07-02 10:30] hfalucas commented on #36
Hey there again @staudenmeir after some more digging, seems like instantiating the model and then overriding the
`getParentKeyName` doesn't take effect, the output of the method below is `posts.` and `getParentKeyName` is null.
[code]

So the work around I found was overriding the `getParentKeyName` on the model by returning a value from a config file:
[code]
The above seems to work just fine. Dun

[2020-07-03 05:46] soundar8562 opened #37 "Find depth by passing ID"
Hi there, hope you are fine!
We are trying to find the depth by passing the id as below,

[code]

The above method we can get the depth(loading time seems a little high) but is there any other better way?

[2020-07-03 18:44] staudenmeir commented on #37
You can determine a node's depth from its root ancestor:

[code]

[2020-07-04 13:05] soundar8562 commented on #37
Hi, this is fine, but what would you recommend when using multiple IDs to find depth?

$id=[1,2,3,4,5]
foreach($id as $value){
 $missionTerritory = MissionTerritory::find($value]);
}

As you suggested above, we can use the loop to get depth for multiple IDs, is there any other better solution?

[2020-07-04 13:51] soundar8562 commented on #37
Hi, this is fine, but what would you recommend when using multiple IDs to find depth?
As you suggested above, we can use the loop to get depth for multiple IDs, is there any other better solution?
Ex,
[code]
**Output**
**Depth**
array:2 [▼
  0 => 2
  1 => 2
]

**Path**
array:2 [▼
  0 => "2,1"
  1 => "7,1"
]

One more question, we need to split the path based on the depth level as following for the

[2020-07-04 23:31] staudenmeir commented on #37
I would use the same approach and improve the performance with eager loading:

[code]

I don't see a way to simplify this process.

[2020-07-08 10:09] soundar8562 commented on #37
Thanks man! Appreciate your help.

[2020-07-08 12:16] soundar8562 opened #38 "Ref: Getting Descendant of Ancestor with Descendant in a single query #10"
*Closed Issue* [here](https://github.com/staudenmeir/laravel-adjacency-list/issues/10)

Hi, your package is awesome but we have another issue from the closed issue as mentioned the top,
We have tree with multiple roots,  among which we find data based on particular depth (say eg 5) and paginate over it. Currently, we are using the below code.
[code]
The above code works great but it's time-consumi

[2020-07-08 12:17] soundar8562 opened #39 "Single query to get all descants on particular depth of multiple root ids"
*Closed Issue* [here](https://github.com/staudenmeir/laravel-adjacency-list/issues/10)

Hi, your package is awesome but we have another issue from the closed issue as mentioned the top,
We have tree with multiple roots,  among which we find data based on particular depth (say eg 5) and paginate over it. Currently, we are using the below code.
[code]
The above code works great but it's time-consumi

[2020-07-08 12:19] #38 closed

[2020-07-08 19:09] staudenmeir commented on #39
Use the `tree()` scope and the new `$maxDepth` parameter: https://github.com/staudenmeir/laravel-adjacency-list#depth-constraints

[code]

[2020-07-09 06:02] soundar8562 commented on #39
Wonderful Thanks

[2020-07-11 13:55] staudenmeir commented on #36
You could so make `$parentKey` and `setParentKeyName()` `static`:

[code]

[2020-07-13 13:02] hfalucas commented on #36
The only modification I did was setting `parent_id` to be the default value of `$parentKey` since I only need to override it in very few places of my app and when running my entire test suit seems like when the value is overridden it persists to rest of the tests, for example:

[code]
Note: I'm not overriding the key in the test, it was just for the sake of the example

[2020-07-13 19:41] staudenmeir commented on #23
MySQL 8.0.21 has been released and should fix this bug.

[2020-07-29 19:31] #17 closed

[2020-08-15 07:44] soundar8562 commented on #32
HI, this is fine but what if I have multiple parent IDs at **different depths**? Like you said we have the parent id value Null but i have without null values too so is there any possibility to do?

[2020-08-15 07:49] soundar8562 opened #40 "Query conditions like orderBy"
Hi, Awesome package
**My Code**
$demo = Demo::tree(2)->whereDepth(2)->with('ancestors')->get();

**I need to do something like the following**
$demo = Demo::tree(2)->whereDepth(2)->with('ancestors')->get();

**Note:** It has to be ordered for every level on the tree, so is there any chance?

[2020-08-15 10:01] staudenmeir commented on #32
@soundar8562 Can you provide an example?

[2020-08-15 10:13] staudenmeir commented on #40
Can you provide some sample data and the result you want to achieve?

[2020-08-15 10:36] soundar8562 commented on #40
Result

![image](https://user-images.githubusercontent.com/54890548/90310590-88741080-df10-11ea-8eb1-957dbf854f46.png)

Expected output (Ordered at each level based on their parent)

![image](https://user-images.githubusercontent.com/54890548/90310602-b5c0be80-df10-11ea-8197-8a772b99b919.png)

Any possibility?
(Let me know if you need more info)

[2020-08-15 10:44] staudenmeir commented on #40
Are they all on the same level?

`->whereDepth(5)` only selects rows at level 5, but "It has to be ordered for every level on the tree" sounds like you want to select multiple levels?

[2020-08-15 11:03] soundar8562 commented on #32
Below, tried before seeing this issue,

$demo_parent_id=[1,4,8,20]; // these IDs came from different depths
foreach($demo_parent_id as $key => $value){
                $demo_array[$key] = Demo::find($value['id'])
                    ->descendants()
                    ->whereDepth($result['depth'])
                    ->get();
            }

The code above works well for me, and we can use findMan

[2020-08-15 11:06] soundar8562 commented on #40
Yeah, I want to select multiple levels and I forgot to mention all the levels data on the above screenshots.
We can continue with 3 levels too :)
$demo = Demo::tree(3)->whereDepth(3)->get();

[2020-08-15 11:09] soundar8562 commented on #40
I am using ancestors to achieve this but I want to sort all the levels I mentioned.
$demo = Demo::tree(3)->whereDepth(3)->with('ancestors')->get();

[2020-08-17 22:10] staudenmeir commented on #40
Please add the column names to the sample data screenshots.

[2020-08-18 06:34] soundar8562 commented on #40
Hi, sorry for the confusion, the data given above is not the SQL table. Below is the original table

**Schema,**

id | name | parent_id
-- | -- | --
1 | Root   Node | NULL
2 | First   Level Child C | 1
3 | First Level Child B | 1
4 | Second   Level B | 2
5 | Second   Level C | 2
6 | Second   Level D | 3
7 | Second   Level A | 3

Output
[code]
I used this code, `$demo = Demo::tree(2)->whereDepth(2)

[2020-08-24 10:11] soundar8562 commented on #40
Thank you so much for your immediate help.
Like that one. I will try and get back to you.

[2020-09-10 07:43] soundar8562 commented on #40
Hi, hope you are well,
I tried your code, but it orders the ancestral sequence itself, but like I said before I have to order this with the whole tree. Currently, I use the code below to get it, but it takes more time,

`$result=array();
$lev1 = Demo::tree(0)->whereDepth(0)->orderBy('name')->get();
foreach ($lev1 as $key => $lev1_value) {
    $result[$key]['lev1']=$lev1_value['name'];
    $lev2 =

[2020-09-20 17:38] staudenmeir commented on #40
You are looking for the behavior of https://github.com/staudenmeir/laravel-adjacency-list/issues/40#issuecomment-678790832 but recursively, right?

Does the tree have a maximum depth (as https://github.com/staudenmeir/laravel-adjacency-list/issues/40#issuecomment-690055040 suggests)?

[2020-09-20 17:53] soundar8562 commented on #40
Yes to both queries

[2020-09-20 18:00] staudenmeir commented on #40
Try this:

[code]

[2020-09-20 18:22] soundar8562 commented on #40
Sure thanks

[2020-10-03 17:56] whoami15 opened #41 "filter user descendants and show level/depth"
Laravel version: ^7.24
Package version: ~1.4
PHP version: 7.3

I need to get users where depth/level is `< 10` , and I want to filter or add a `where` condition on the `descendants`
which is `active = 1` and show their `depth/level` and `orderBy depth/level`

here is my query:
[code]

where I'm `user id 1`
[code]
Edit: I found out that adding `->depth` in the loop will show the `depth/level` now I

[2020-10-04 11:16] staudenmeir commented on #41
Add the constraint to the query:

[code]

[2020-10-04 13:13] whoami15 commented on #41
Thank you @staudenmeir , is it possible to group the depth/level?

[2020-10-04 13:42] staudenmeir commented on #41
Do you mean something like `$users->groupBy('depth')`?

[2020-10-04 13:54] whoami15 commented on #41
yes @staudenmeir , and I wan to loop the depth to it will show like

[code]

[2020-10-04 14:07] staudenmeir commented on #41
Have you tried looping over the result of `$users->groupBy('depth')`?

[2020-10-04 14:12] whoami15 commented on #41
I tried but it's showing  `Property [depth] does not exist on this collection instance.`

[code]

[2020-10-04 14:17] staudenmeir commented on #41
Take a look at `dd($users->groupBy('depth'));` and the [documentation](https://laravel.com/docs/8.x/collections#method-groupby).

[2020-10-04 14:21] whoami15 commented on #41
@staudenmeir  thank you.

[2020-10-04 14:40] whoami15 commented on #41
@staudenmeir  I solved it 👍 thank you. I will close this issue now.

[2020-10-04 14:40] #41 closed

[2020-10-15 16:10] iraklisg commented on #33
@staudenmeir I am really looking forward to this feature!

An option for getting the tree in the following format would be rather useful as It would facilitate the usage of popular frontend solutions for displaying hierarchical data like [Vuetify's TreeView component](https://vuetifyjs.com/en/components/treeview/) and [ElementUI's Tree component](https://element.eleme.io/#/en-US/component/tree) (_

[2020-10-19 13:43] has5aan opened #42 "Adding filter CTE"
Is there a possibility to add a filter to the cte block,
I have multiple hierarchies of companies, in a table contractor_hierarchy_relation with columns;

- contractor_hierarchy_id
- contractor_id
- parent_contractor_id

**contractor_hierarchy_id** is a foreign key that I'd like to use in a where condition within the cte, while fetching the descendants and ascendants;
The query generated while fet

[2020-10-25 14:03] staudenmeir commented on #42
I'll look into it.

[2020-10-26 10:42] has5aan commented on #42
Thanks a lot for your response.

To not get bogged down, my dirty workaround was to override these two functions within the model;

`
 /**
     * Get the initial query for a relationship expression.
     *
     * @param ExpressionGrammar|Grammar $grammar
     * @param callable $constraint
     * @param int $initialDepth
     * @param string $from
     * @return Builder $query
     */
    public fu

[2020-10-30 19:06] denydias opened #43 "Dealing with SoftDeletes models"
Hi there! First of all, thanks a lot for this great piece of code!

I'm having such a hard time dealing with SoftDeletes.

The following will work just as expected:

[code]

This also works great:

[code]

But then I need to handle soft deleted stuff. For instance:

[code]

Or to restore the once deleted tree:

[code]

All `onlyTrashed()` queries will produce:

[code]

but to get soft deleted stuf

[2020-11-03 00:27] staudenmeir commented on #43
Please share the `Asset` model.

[2020-11-03 03:20] denydias commented on #43
Sure!

[code]

[2020-11-04 02:48] staudenmeir commented on #43
What exact query are you executing to get this SQL?

[2020-11-04 06:41] denydias commented on #43
Thanks for your continued interest on this, @staudenmeir!

One of the queries is generated exactly by this piece of code in TrashController:

[code]

I get the SQL produced by the above statement while debugging with [clockwork](https://github.com/itsgoingd/clockwork). The whole query as it appears in clockwork's database dashboard looks like (formatted viewing purpose only):

[code]

And yes, the

[2020-11-05 01:17] staudenmeir commented on #43
The executed SQL is correct. Are you looking for `$asset->ancestorsAndSelf()->onlyTrashed()->get()`?

[2020-11-05 15:54] robsontenorio opened #44 "Legacy databases"
Nice work!

Woud you accept a PR for a legacy  database?

https://cedocs.intersystems.com/latest/csp/docbook/DocBook.UI.Page.cls?KEY=GIC_intro

We have made it work with Laravel

https://github.com/jeandormehl/laracache

[2020-11-05 16:02] denydias commented on #43
Oh boy! Shame on me! Yes, that's exactly I was looking for.

Sorry to bother you, @staudenmeir. Thanks a lot for your time and patience.

[2020-11-05 16:02] #43 closed

[2020-11-08 09:38] veganista opened #45 "belongsToMany Support?"
Is there a way of suporting belongs to may relationships?

[code]

The group structure looks something like this:

[code]

A student would be able to be placed into both Guitar and Ukele classes.

I'd like to be able to get all students who are at Darwin High School.

[2020-11-23 21:38] webdevium opened #46 "[Question] How to get edge nodes?"
Hi, @staudenmeir. Thank you for this awesome library!

I have classic binary tree in the database:
    1
  2  3
4 5 6 7

How can I retrieve only edge descendants nodes of the root node:
— for the left side: [2, 4]
— for the right side: [3, 7]

0r, as example, how to get extremely bottom node at left or right corner of the tree, respectively, 4 or 7 (in any depth of the tree)?

Can I append additio

[2020-11-24 01:11] staudenmeir commented on #46
Can you share the table schema?

[2020-11-24 05:03] webdevium commented on #46
Of course:

[code]

[2020-11-24 07:34] Taalaybek opened #47 "Does it support laravel 8^ ?"

[2020-11-24 07:46] staudenmeir commented on #47
Yes, it does.

[2020-11-24 09:53] webdevium commented on #46
@staudenmeir Maybe next explanation will be useful:

when I call `Node::find(1)->descendants()->where('branch', $branch)->get()` I get this query

[code]

But for my crazy case I need this additional condition for the query

[code]

How can I append this condition to the internal union?

[2020-11-24 12:24] #47 closed

[2020-11-28 14:07] staudenmeir commented on #46
I'll look into it.

[2020-11-28 18:08] staudenmeir commented on #46
Unfortunately, there's no simple solution.

You can use this workaround:

[code]

[code]

[2020-11-28 18:16] webdevium commented on #46
@staudenmeir Thank you for the explanation!

[2020-11-28 18:16] #46 closed

[2020-11-28 18:41] #37 closed

[2020-11-28 18:42] #39 closed

[2020-11-28 18:43] staudenmeir commented on #45
I'm already working on that.

[2020-11-28 18:52] staudenmeir commented on #44
Have you already prepared the implementation?

[2020-11-28 19:09] staudenmeir commented on #42
There is currently no other way than overriding these methods.

What you can do, is simplifying this part by reusing the package's methods. Take a look at https://github.com/staudenmeir/laravel-adjacency-list/issues/46#issuecomment-735271029.

The constraint on `contractor_hierarchy_relation.contractor_hierarchy_id` doesn't need to be inside the join clause, right?

[2020-11-28 21:05] robsontenorio commented on #44
No, sorry. Closing for now.

[2020-11-28 21:05] #44 closed

[2020-11-29 15:43] slicksenses opened #48 "Error on: MySQL server version for the right syntax to use near 'recursive `laravel_cte`"
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'recursive `laravel_cte` as ((select *, 1 as `depth`, cast(`id` as char(65535)) a' at line 1 (SQL: with recursive `laravel_cte` as ((select *, 1 as `depth`, cast(`id` as char(65535)) as `path` from `members` wh

[2020-11-29 16:45] staudenmeir commented on #48
The package requires MySQL 8.0.

[2020-11-29 16:54] #40 closed

[2020-11-29 17:00] Kakad3v commented on #48
My MySql version is 8+ and am still getting the same error

[2020-11-29 21:05] staudenmeir commented on #48
@Kakad3v What's the result of `mysql --version` on your machine?

[2020-11-29 23:41] slicksenses commented on #48
though you did not ask this is what I get in my local machine:
mysql  Ver 8.0.20 for macos10.15 on x86_64 (MySQL Community Server - GPL)
From online server: mysql  Ver 15.1 Distrib 5.5.68-MariaDB, for Linux (x86_64) using readline 5.1

[2020-11-30 00:17] #36 closed

[2020-12-01 17:13] slicksenses commented on #48
I have to close the issue. Since it was working I did upgrade the mysql version. Thank you

[2020-12-01 17:13] #48 closed

[2020-12-03 05:33] salarzaidi opened #49 "rootAncestor return null"
Hey im tring to get rootAncestor from child category but its return null everytime
 28 is a id of iPhone category which is Leaf node and its parent are Apple -> Laptop -> Electronics & Home Appliances
 $mostParentAncestor = Category::find(28)->rootAncestor;
dd($mostParentAncestor); // returning null

result should be **Electronics & Home Appliances**

laravel version 6
PHP 7.3.8

[2020-12-03 11:53] staudenmeir commented on #49
Does `Category::find(28)->ancestors` give you the correct result?

[2020-12-03 11:59] salarzaidi commented on #49
Yes

[2020-12-03 13:16] staudenmeir commented on #49
Is `Electronics & Home Appliances` in `Category::find(28)->ancestors`?

What's the result of `dd(Category::find(28)->rootAncestor()->toSql());`?

[2020-12-04 14:44] has5aan commented on #42
Absolutely.

Adding;
[code]
along with the proposed changes [here](https://github.com/staudenmeir/laravel-adjacency-list/issues/46#issuecomment-735271029) and with all my existing queries wrapped within the callback, does the job nicely and decouples request object from model.

Thanks a lot.

[2020-12-04 14:44] #42 closed

[2020-12-14 09:22] Vladislav009 opened #50 "Unknown column 'laravel_cte.id'"
Hello,
Here you can see my user table schema,
[code]
Here is my code,
[code]

Erro:
`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'laravel_cte.id' in 'where clause' (SQL: with recursive `laravel_cte` as ((select *, 1 as `depth`, cast(`id` as char(65535)) as `path` from `users` where `users`.`parent_id` = 2 and `users`.`parent_id` is not null) union all (select `users`.*, `depth` + 1 as `

[2020-12-14 09:49] VanoDevium opened #51 "Additional where condition for ancestors"
Hi, @staudenmeir
I want to thank you again for the wonderful library.

But I have next difficulty:
I store different binary structures in the **one table**.

In this table I store every **person** as
- **ID** - his unique identifier for this table
- **GROUP_ID** - identifier of group (like identifier of binary structure)
- **USER_ID** - his real identifier from main business system
- **PARENT_ID**

[2020-12-14 13:55] staudenmeir commented on #51
What does the PHP query look like?

[2020-12-14 14:01] webdevium commented on #51
My class (extends basic model with your traits)
[code]

And query from my controller/action:
[code]

[2020-12-14 14:03] staudenmeir commented on #50
Unfortunately, MariaDB doesn't support this kind of query yet:
https://jira.mariadb.org/browse/MDEV-19077

[2020-12-14 14:30] staudenmeir commented on #51
Why are you using these custom local and parent keys?

[2020-12-14 15:06] webdevium commented on #51
Because it is the main aim of business task: I have to retrieve levels of referrers (**user_id** as real user's ID of business system).

It sounds difficult :(
User **with real ID 1** can be in different binary structures in the one table.
So, if I want to retrieve him as my referrer, I must make query with **where user_id = $myReferrerID and group_id = $myGroupID**

[2020-12-15 03:44] Vladislav009 commented on #50
@staudenmeir Got it, thanks for the answer. I think in compatibility with MariaDB it is worth making a note that not all types of requests are supported. At the moment, it is baffling

[2020-12-15 03:44] #50 closed

[2020-12-23 01:45] vlados opened #52 "Paginate links of hasManyOfDescendantsAndSelf"
hasManyOfDescendantsAndSelf return collection
How to get pagination links?
[code]

[code]

[2020-12-23 10:28] vlados commented on #52
Workaround that I found was this:
[code]

[2020-12-28 01:27] staudenmeir commented on #52
$limit = request('per_page', 12);
                $query->paginate($limit);
            }])

What does the whole query look like?

[2020-12-28 01:38] staudenmeir commented on #51
In this case, you would have multiple rows with the same `user_id`?

[2020-12-28 11:51] webdevium commented on #51
@staudenmeir No. In this case I want to get unique users (by user_id as REAL ID) in my structure (by GROUP_ID) linked by user_id => referrer_id pairs.

[2020-12-31 12:47] vlados commented on #52
[code]

[2021-01-04 00:50] staudenmeir commented on #51
Can you share the table's migration?

[2021-01-06 19:15] webdevium commented on #51
@staudenmeir Sure.
[code]

[2021-01-10 19:13] staudenmeir commented on #52
Laravel doesn't really support queries with this combination of eager loading and pagination.

Use something like this:

[code]

[2021-01-10 20:00] vlados commented on #52
Thanks!

[2021-01-10 20:00] #52 closed

[2021-01-28 18:33] andrew-connell commented on #33
For my use case it was more suitable to nest the items client side. It's actually very easy but it took me longer than I'd like to admit.
To save anyone else the hassle of coming up with it, here's the code

[code]

[2021-02-23 14:38] pda-code opened #53 "Cannot install on Laravel 8.0"
Cannot install on Laravel 8.0

![image](https://user-images.githubusercontent.com/10973438/108859030-7a0c5d00-75f5-11eb-8c6f-8052f3eb76f7.png)

[2021-02-23 17:00] staudenmeir commented on #53
Please try `composer require staudenmeir/laravel-adjacency-list:"^1.6"`.

[2021-02-24 15:16] GTCrais commented on #33
+1 for this feature request

[2021-02-24 19:39] pda-code commented on #53
Worked fine!!! thanks !!!

P.S. Your packages are brilliant!

[2021-02-24 19:39] #53 closed

[2021-03-14 14:27] #49 closed

[2021-03-27 16:17] toyi commented on #26
I need this as well, it would be awesome. I currently also have recursive relationships where the children can have multiple parents. Any chance of seeing an update on this issue in a more or less near future ? Anyway, great package 👍

[2021-03-29 18:39] staudenmeir commented on #26
@toyi Can you also provide your migrations?

[2021-03-29 19:31] toyi commented on #26
Of course

[code]

In Laravel terms, it's the same as a parent retrieved via a `belongsTo` / children with `hasMany`... but with a `belongsToMany` for both.

The idea is that some products can act as a parent for some other products (these products are some kind of bundles).
It's just like the food examples given earlier but applied on products.

Let's take a simple example with a videogames bundl

[2021-03-30 07:13] staudenmeir commented on #26
Thanks, I'll look into it.

[2021-03-30 10:21] ldiebold commented on #45
Any updates on this?
I feel bad for even asking... This app has given me an insane amount of value!

[2021-04-02 17:56] staudenmeir commented on #45
I'll try to finish it this month.

[2021-05-01 14:04] edrisaturay opened #54 "Cannot get Model Parents ( Reverse of descendants )"
I am trying to get the path to the root parent or list a user with their parent, parent's parent...... and so on.. any help with this will be appreciated.

Thanks in advance

[2021-05-01 16:48] #54 closed

[2021-05-09 14:35] kitbs opened #55 "Additional relationships - hasManyOfAncestors, hasManyOfAncestorsAndDescendants, ancestorsAndDescendants etc."
Hello @staudenmeir

Thank you for such an excellent package!

The hasManyOfDescendants(AndSelf) relationship is so useful, and I wonder if you would consider implementing the following additional relationships:

- hasManyOfAncestors(AndSelf)
- hasManyOfAncestorsAndDescendants(AndSelf)
- ancestorsAndDescendants(AndSelf)

I hope the relationship names illustrate the potential use cases. For example,

[2021-05-15 20:25] lairg99 opened #56 ""Bloodline" relationship"
Firstly, thank you for your great contributions - this package is amazing.

I'm looking for an opportunity to create a kind of a _bloodline_-relationship. By this I mean a relationship that returns all ancestors and descendants - additional _bloodlineAndSelf_. Currently, I only combine `descendants()` and `ancestorsAndSelf()` with the UNION command. Maybe this idea has potential for a new relation

[2021-05-15 21:03] staudenmeir commented on #56
Thanks, that's an interesting idea. Have you looked into the necessary SQL?

[2021-05-16 00:48] lairg99 commented on #56
To be honest, I haven't dealt with recursive SQL statements yet - just heard of that. I would have a look at it.

[2021-05-16 12:29] nagsamayam opened #57 "[Question] How to get all child nodes for a specific branch?"
Hi, @staudenmeir
Firstly, I wanted to thank you for this awesome package.

I have binary tree structure and table schema like below
![binary-tree](https://user-images.githubusercontent.com/3983455/118396208-12056a00-b66c-11eb-8c6a-222182517b6d.jpeg)

![table-scheme](https://user-images.githubusercontent.com/3983455/118396632-04e97a80-b66e-11eb-847b-8c42dc6fcb73.jpeg)

How can I retrieve all descen

[2021-05-16 13:52] staudenmeir commented on #57
That's not a trivial issue. You can use the `treeOf()` scope:

[code]

However, this doesn't work with eager loading. Do you also need that?

[2021-05-16 13:59] nagsamayam commented on #57
Thank you sooooo much for the swift response. I request you with eagar loading also

[2021-05-16 14:22] staudenmeir commented on #57
I don't see a feasible way to define a direct relationship, but you can combine two relationships and simplify the usage with an accessor:

[code]

[2021-05-16 14:37] nagsamayam commented on #57
Thanks a lot @staudenmeir. You made my day.

[2021-05-16 14:45] #57 closed

[2021-05-20 09:56] whoami15 opened #58 "showing descendants of descendants"
Firstly, thank you @staudenmeir for making this package.

**Laravel version**: ^7.0
**Package version**: ~1.4

Hello @staudenmeir , is there any way to show the `descendants` of `descendants` and limiting the `depth`?

I have the below query which gets the `descendants` of the current user logged in. What I want to do is, also get the `descendants` of every `descendants` but only limit the `depth`

[2021-05-20 11:03] staudenmeir commented on #58
This is the result you are getting at the moment?

[2021-05-20 11:41] whoami15 commented on #58
@staudenmeir, sorry. that is the result I'm expecting.

[2021-05-20 18:12] staudenmeir commented on #58
Sorry, I don't fully get the expected result:
How are `Deric`, `Cliff` and `Coa` different from `Joe`? Aren't they all direct children of `Jane`?

[2021-05-20 19:42] whoami15 commented on #58
Yes they are all children of `Jane`, `Deric`, `Cliff`, and `Koa`.
Sorry if it's confusing. I want to show the `descendants` of `John` and also show the `descendants`  of `descendants ` of `John` but only limiting the `depth` to 3.

Here's an example:
[code]

[2021-05-20 20:29] staudenmeir commented on #58
Can you show me the difference between your expected result and the result of a query with `->descendants()->whereDepth('<=', 3)`?

[2021-05-21 05:15] whoami15 commented on #58
The result of that is:
[code]

Yes, I am looking for the nested result.

[2021-05-23 09:47] staudenmeir commented on #58
This functionality is not included yet, but I'm working on it (see also #33).

[2021-05-23 12:56] whoami15 commented on #58
I see, thank you very much for your hard work on this package.

[2021-05-26 07:51] lairg99 commented on #56
So far, I have achieved the bloodline only through a union. Do you think that's acceptable?

[code]

[2021-05-26 14:56] justasSendrauskas opened #59 "can you use with manyToMany?"
Hello,

so the example given in the readme is that if you have a table {id, parent_id }, though I am wondering if this can be used for manyToMany relationship having i.e.:

groups {id, name}
group_group { parent_id, child_id }

?

Thank you very much,
Justas

[2021-05-26 21:31] staudenmeir commented on #59
I'm working on that: #26

[2021-05-26 21:43] staudenmeir commented on #56
Unfortunately, it's not really possible to create native relationships directly from `UNION` queries.

I created a package for cases like this: https://github.com/staudenmeir/laravel-merged-relations

You can try it for combining the `descendants()` and `ancestorsAndSelf()`relationships, it might work out of the box.

[2021-05-27 08:38] justasSendrauskas commented on #59
you are brilliant Mr Jonas!

[2021-05-27 08:39] #59 closed

[2021-05-27 14:57] raphaelmsr commented on #58
Agreed, feature highly useful and again thank you sooo much for your contribution to the Laravel world

[2021-05-28 23:01] mrgodhani opened #60 "Additional relationship support: hasOneOfDescendantsAndSelf"
Hi there,

Is there any support or idea how to implement hasOne for descendants.  Trying to eager load descendants to include hasOne as well.

Also when I try `eloquent-param-limit-fix` to solve param limit issue in MSSQL it doesn't quite work with descendants.

[2021-05-29 14:03] WillieOng-HK commented on #1
can it set 0 as the root identifier? because it's limited by another front-end plugins. Thanks.

[2021-05-29 14:13] mrgodhani commented on #6
Experiencing similar issue when pairing with https://github.com/staudenmeir/eloquent-param-limit-fix

[2021-05-29 14:56] staudenmeir commented on #1
@WillieOng-HK Take a look at the `treeOf()` scope: https://github.com/staudenmeir/laravel-adjacency-list#trees

[code]

[2021-05-29 15:31] staudenmeir commented on #60
I'll look into it.

[2021-06-03 19:14] staudenmeir commented on #60
Can you share your use case(s)?

Are you referring to https://github.com/staudenmeir/laravel-adjacency-list/issues/6#issuecomment-850840278 or is this a different issue?

[2021-06-03 23:20] mrgodhani commented on #60
@staudenmeir

For the `eloquent-param-limit-fix` yes I was referring to #6.

Here is the use case we have in our product.

[code]

My use case is to include behavior and making the query easier with that relation vs at currently what we are doing is following.

[code]

I wonder above can be changed to  something like below instead

[code]

If it makes sense.  Looking at the example in the readme t

[2021-06-29 06:38] tobyzerner commented on #6
@staudenmeir have you had any further thoughts about this?

[2021-06-29 20:04] vlados commented on #26
Any updates?

[2021-06-30 11:32] vlados opened #61 "Question: Recursive products of tree"
I have simple category tree and products. Every product is linked to multiple categories via products_categories_ref table.
How I can get all the products in a category?
[code]

[code]

[2021-07-01 17:35] staudenmeir commented on #61
The products of a category and all its child categories?

[2021-07-01 20:25] vlados commented on #61
Yes

[2021-07-02 05:46] staudenmeir commented on #61
I'm working on that: #45

[2021-07-02 05:52] staudenmeir commented on #26
This is a huge feature and I've been working on it for months, but it will still take some time.

[2021-08-15 15:57] staudenmeir commented on #58
The latest release adds the `toTree()` method:

[code]

[2021-08-15 15:58] raphaelmsr commented on #58
Simply the best out there, thanks Jonas !

[2021-08-15 15:58] staudenmeir commented on #33
The latest release adds the ​`toTree()` method:

[code]

[2021-08-16 18:09] vlados commented on #45
Any updates or if we can help?

[2021-08-17 17:31] #33 closed

[2021-08-17 17:31] #58 closed

[2021-08-17 19:27] staudenmeir commented on #45
Still working on it but making good progress.

[2021-08-18 06:48] primoashbee opened #63 "toTree() function crashes then server"
My table
[code]

Sample Data

[code]

Now when im trying to get the NESTED results
```Use the toTree() method on the result collection to generate a nested tree:```

Code is:

[code]
And after running this on web returns connection reset.
Also, tried this on tinker and tinker frozed. I took an investigation an it says on the log file of apache.

[code]

Any thoughts?

[2021-08-18 07:33] staudenmeir commented on #63
Thanks, I released a new version.

`json_encode()` couldn't handle the recursion the `parent` relationship brought into the tree.

[2021-08-19 00:50] primoashbee commented on #63
It's working now. Thanks Man!

[2021-08-19 00:50] #63 closed

[2021-08-24 03:52] whoami15 commented on #58
Thank you very much!

[2021-08-24 23:56] amshehzad opened #64 "Getting siblings of normal belongsTo relation"
Hi, first of all thank you for this great plugin!

So I was thinking that it'll be great it we can use the concept for normal relations as well so for example let say we have this structure:

`Company `→ has many → `Projects`

Now it would be nice if we can use the sibling concept here so we can get all projects for the same company from any project.

currently I'm doing like this:

`$projects = $

[2021-08-25 06:02] staudenmeir commented on #64
Which of those two models uses the `HasRecursiveRelationships` trait?

[2021-08-25 15:52] amshehzad commented on #64
None, I was thinking that if some how we can use the siblings concept ( which I like a lot ) on the other relations so for example if we add the trait on Project model and the project belongs to Company then we can get siblings of the project i.e Other projects from same company. not sure if it even make sense

[2021-09-03 19:05] #64 closed

[2021-09-07 02:40] chammeow opened #65 "withRecursiveExpression not appearing on GET method"
Please help. I'm doing an eloquent selection for the list of categories with its Hierarchical Data and need to get the path names of categories to subcategories (eg. Electronics > Mobile Phones > Android Phones) but these path names not appearing on my GET method. Here is my code.

**CONTROLLER**
[code]

I've tried to check the SQL string for  $merchantBranchCategoryList (eg. $merchantBranchCatego

[2021-09-07 02:50] #65 closed

[2021-09-07 14:18] chammeow opened #66 "slug_paths on children. PLEASE HELP!"
I have this model

`class Merchant_branch_category extends Model
{
    use HasFactory;
    use HasRecursiveRelationships;

    /**
     * The attributes that are mass assignable.
     *
     * @var array
     */
    protected $fillable = [
        'merchant_branch_id',
        'name',
        'parent_id',
        'description',
        'tags',
        'order',
        'is_active',
    ];

    publ

[2021-09-07 14:28] chammeow commented on #66
Resolved my problem by updating my codes in Controller

FROM
`$merchantBranchCategoryList = $merchantBranchCategoryListQuery->with('categories')->tree()->get();`

TO
`$merchantBranchCategoryList = $merchantBranchCategoryListQuery->tree()->get();`
`$merchantBranchCategoryList = $merchantBranchCategoryListQuery->toTree();`

[2021-09-07 14:28] #66 closed

[2021-09-10 14:57] waterbuckit opened #67 "[QUESTION] Get relation of root ancestor from relation of node of any depth."
Hi, apologies for the rather unclear-sounding title. I have a database structure like the following:
Locations have many sub-locations, sub-locations are recursively related, sub-locations have many areas. I need to get the location from the root ancestor of the area's sub-location.
I am using your HasManyDeep package for the simplicity of it's HasOneDeepFromRelations relation.
My area has the fol

[2021-09-10 16:12] staudenmeir commented on #67
Can you share the structure/migrations of all three tables and some sample data?

[2021-09-10 18:48] waterbuckit commented on #67
Sure! I'll cut out some of the fields that are there as they are irrelevant (address etc).

**locations**
[code]

**sub_locations**
[code]

**areas**
[code]

I don't precisely know how you want me to provide some sample data, but if it were me, I'd make it in `php artisan tinker`, running some commands like:
[code]
[code]
[code]
The idea is that I'd like to derive the Location from the root ancest

[2021-09-12 08:30] staudenmeir commented on #67
How are you using the `location` relationship at the moment? It doesn't work with eager loading, right?

[2021-09-12 09:55] waterbuckit commented on #67
Correct, it doesn't work with eager loading, obviously it does work with just `Area::first()->location`.

If my Area was related to a child node (of any depth below the root) of the root ancestor sublocation then my relation wouldn't need that extra 'isRoot' check, but if, for example, the area is related to the root ancestor sublocation, calling `rootAncestor` on that sublocation, as it is the ro

[2021-09-12 10:52] staudenmeir commented on #67
Unfortunately, there is no realistic way to create a direct relationship that can you use for eager loading.

I suggest that you use separate relationships and simplify the usage with an accessor:

[code]

[2021-09-12 12:02] waterbuckit commented on #67
Thanks for this suggestion! In the end, I've decided to store the location_id on each child sub_location. Just cuts down on the complexity, even if it does mean doing a bit of management. Makes it a lot easier to get at the location of an area.

[code]
Then from my location, I can access all the bits I need:
[code]
I did want to use the `descendantsAndSelf` custom relation but my Location model us

[2021-09-12 12:17] lairg99 commented on #56
Here, a query without usage of `UNION`. Here you can find a [demo](https://dbfiddle.uk/?rdbms=mysql_8.0&fiddle=5bb43321175e866f77d548a106173c8d). Credits to [forpas](https://stackoverflow.com/users/10498828/forpas) on Stack Overflow.

[code]

[2021-09-12 12:40] staudenmeir commented on #56
Interesting, I'll take a look.

[2021-09-12 18:43] lairg99 commented on #56
Are PRs welcome?

[2021-09-12 19:29] staudenmeir commented on #56
Yes, absolutely.

[2021-09-12 21:30] lairg99 commented on #56
In principle, the structure is quite similar and fits - I think - quite well with the previous architecture.  As far as I can tell, some changes to the `getRecursiveQuery()` method of the `HasRecursiveRelationshipScopes` trait will be necessary. Based on the previous example, we need to think about the following.

1. We need an indicator within the query of which direction we are going. If we go u

[2021-09-21 19:49] coclav opened #68 "[Discussion] Could this package be the base for graph traversal ?"
Servus Jonas & Team,

We love this package.

This package works on the premise we are dealing with a **tree** : a node has one, and only one, parent.

A (directed) **graph** differs in the fact that a node can have one, or more, "parents" (the term parent doesn't really make sense anymore though).

![image](https://user-images.githubusercontent.com/1837434/134237201-40f3c8db-a3c2-4a04-91aa-76cb675

[2021-09-21 20:53] staudenmeir commented on #68
I've been working on #26 for a while. That's the same topic, right?

[2021-09-21 20:54] staudenmeir commented on #67
Yes, absolutely.

[2021-09-21 20:54] #67 closed

[2021-09-22 07:00] coclav commented on #68
Yes indeed. How come I didn’t find it. Closing this one then.

[2021-09-22 07:00] #68 closed

[2021-09-22 08:14] staudenmeir commented on #68
No worries. If you can, please add details about the features you would want/need from this implementation (relationships, scopes etc.). I'll see what the best way would be for you to contribute to the code.

[2021-09-22 14:40] coclav commented on #26
Adding my use case to this list, our migration would look like the first message in the thread.

[code]

Our use case is a diagraming / process mapping tool where we traverse a graph to run analytics. This is directed graph, and the capability that this traversal algorithm brings is the ability to understand the relationship between a starting point the result. In the current implementation we hav

[2021-09-22 19:56] staudenmeir commented on #68
Thanks for your detailed posts. I hadn't fully realized the potential of this feature.

[2021-09-22 23:20] coclav commented on #68
Yeah graph database are very powerful at traversing nodes/edges and finding a path in between items whatever their nature.  I think this package has some potential to cover some of the use cases!

[2021-09-26 17:59] staudenmeir commented on #26
@coclav Can you share some sample data (as Laravel code or a database dump) for these use cases and examples of expected query results?

[2021-09-29 03:19] chammeow commented on #45
hello... this is what I need too...

[2021-09-29 05:55] ldiebold commented on #45
Appreciate it! We did our own implementation at work and... it wasn't pretty :sweat_smile:

[2021-10-02 20:31] ivanwitzke commented on #45
Would you mind sharing how did you solve your problem? I have the same problem here...

[2021-10-03 11:06] staudenmeir commented on #56
We should be able to derive the type from the existing `depth` column, right?

[2021-10-03 11:19] lairg99 commented on #56
Should be possible.

[code]

[2021-10-03 12:23] staudenmeir commented on #56
Have you looked into the query we need for the relationship without `AndSelf`?

[2021-10-03 13:57] lairg99 commented on #56
I had tried a bit around, however, no result.
Can we just append this to the last query?

[code]

[2021-10-03 16:41] staudenmeir commented on #56
Yeah, that's the only approach I see at the moment. It's not ideal and I'm not sure if features like eager loading still work here.

Do you have a use case for the relationship without `AndSelf` in your application? Maybe the bloodline relationship just always includes the node itself.

[2021-10-03 16:50] lairg99 commented on #56
No, I haven't any use cases for that. However, it also sounds logical that the node itself is always included.

[2021-10-05 11:56] waterbuckit opened #69 "ancestorsAndSelf giving empty result in conjunction with hasManyDeepFromRelations"
My model has a relation that gets the ancestors and self of its related sub location:

[code]
The ancestor_sub_locations relation works just fine, it returns an Ancestors relation, get returns the ancestors and self. But when used in the hasManyDeepFromRelations, I get an empty collection.
I am trying to get related items using the ancestor_sub_locations relation like so:

[code]
Many thanks if yo

[2021-10-17 05:57] denydias opened #70 "N+1 queries when testing"
Hi and thanks for this marvelous package!

I have a controller action like this:

[code]

The above works great when in browser, both on development and production environments. But when I run tests using the very same controller, I'm plagged by N+1 warnings in the log (from [beyondcode/laravel-query-detector](https://github.com/beyondcode/laravel-query-detector)):

[code]

Line 35 is the one read

[2021-10-17 09:05] staudenmeir commented on #70
The query detector is running during the browser requests?

What queries are executed during the test vs. during the browser request?

If you call `restoreAsset()` multiple times, you definitely run avoidable queries, but that's not caused by the package.

You could something like this:

[code]

[2021-10-17 09:09] denydias commented on #70
Yes, query detector is running all the time, browser and tests.

I do not log the queries during tests. In browser I have clockwork so I can monitor that. I'll enable the query log so I know what happens in the tests.

Thank you for your code suggestion. I'm going to give it a try and see how it goes.

[2021-10-18 11:38] denydias commented on #70
@staudenmeir just to let you know your suggestion work marvelous. No more N+1 warning from query detector testing models using adjacency list.

Thanks a lot for your time and quick replies.

[2021-10-31 15:25] staudenmeir commented on #56
Are you working on a PR?

[2021-11-01 08:28] lairg99 commented on #56
Yes. However, this would be my first PR in general on Laravel Query Builder. So the progress is very small. It still sounded like you were working on something too though.

[2021-11-06 09:38] #69 closed

[2021-11-09 08:22] nezaboravi opened #71 "N+1 problem"
If you create a component that will list 3 products from 6 categories, N+1 problem happens.
Say, we want to display Product breadcrumb
e.g.
`Vehicles | Leisure | SUV | Mitsubishi Pajero Sport`

Next component shows you another category:

`Equipment | Tractors | 2 WD Tractors | Ferguson M876`

How do you handle this without having N+1?

If i am to show 3 of each products, i will get this:
`N+1 quer

[2021-11-09 12:01] staudenmeir commented on #71
What does the `$products` query look like?

You can use eager loading, but you need adjust the `breadcrumbs()` method:

[code]

Do you actually need to fetch the root's ancestor's whole tree for the breadcrumbs? Or you can get only the category's ancestors and show them in reverse order?

[2021-11-12 09:16] nezaboravi commented on #71
Hello @staudenmeir
[code]
The query is something like:

[code]
Gives back Laravel scout paginated object.
I will try not suggested approach and let you know, thank you :)

[2021-11-13 14:00] staudenmeir commented on #56
I released a new version with the `Bloodline` relation:
https://github.com/staudenmeir/laravel-adjacency-list#included-relationships

[2021-11-15 17:38] #56 closed

[2021-11-16 06:53] nezaboravi commented on #71
@staudenmeir
"Do you actually need to fetch the root's ancestor's whole tree for the breadcrumbs? Or you can get only the category's ancestors and show them in reverse order?"
I need to achieve this
1) Breadcrumbs:
Equipment / Tractors / 4WD Tractors  / Title- John Fergusson

So, when on product, i need that breadcrumb, anyway that is optmized.
Thanks

[2021-11-24 06:28] nezaboravi commented on #71
@staudenmeir any advise?

[2021-11-25 14:35] amiranagram opened #72 "Incorrect order by path (`depthFirst`)"
Hi, I've noticed when ordering by path it's using natural sort which sorts them incorrectly.

This is how they are sorted:

[code]

This is how they should be sorted:

[code]

This is how I fixed it in my code:

[code]

Which is really messy but it does the job.

What it does is, it pads every segment between dots (`.`) in path to 5 numbers adding zeros where missing. Then it's really easy to sort

[2021-11-25 14:43] staudenmeir commented on #72
Thanks, I'll look into it. What database are you using?

[2021-11-25 14:44] amiranagram commented on #72
@staudenmeir MariaDB 10.5

[2021-11-29 12:12] toyi opened #73 "morphToMany equivalent of hasManyOfDescendantsAndSelf"
Is there any support for an equivalent of `hasManyOfDescendantsAndSelf` for `morphToMany` relationships?

My use case is pretty straighforward:

* `Article` can be associated with many other models. For instance, an `Article` can be associated to a `Category`, a `Product` and a `Destination`.
* I have a polymorphic many to many relationship defined (dedicated table with an `articlable_type` and `a

[2021-11-29 16:13] staudenmeir commented on #73
Thanks! I'm working on that and will release it soon.

[2021-11-29 16:46] toyi commented on #73
Thank you or the quick answer! To be honnest, I have to find a solution quickly, could you just tell me if I should expect the release within 1/2 weeks or if It's more something planned for early 2022 please?

I'm not pushing you in any way of course, I'm just trying to have some visibility :)

[2021-11-29 19:28] staudenmeir commented on #73
Within 1/2 weeks.

[2021-11-29 20:21] staudenmeir commented on #71
Can you expand the `17 vendor frames...`?

From how I understood your code, I thought that something like `$product->category->ancestors->reverse()->pluck('name')->join(' / ')` would give you the required breadcrumbs.

[2021-12-04 13:38] staudenmeir commented on #45
The latest release adds support for `BelongsToManyOfDescendants` relationships:
https://github.com/staudenmeir/laravel-adjacency-list#belongstomanyofdescendants

[code]

[2021-12-04 13:42] staudenmeir commented on #61
The latest release adds support for `BelongsToManyOfDescendants` relationships:
https://github.com/staudenmeir/laravel-adjacency-list#belongstomanyofdescendants

[code]

[2021-12-04 13:48] staudenmeir commented on #73
The latest release adds support for `MorphToManyOfDescendants` relationships:
https://github.com/staudenmeir/laravel-adjacency-list#morphtomanyofdescendants

[code]

[2021-12-04 13:51] staudenmeir commented on #55
You can now get this with the `bloodline()` relationship:
https://github.com/staudenmeir/laravel-adjacency-list#included-relationships

[2021-12-04 15:23] staudenmeir commented on #25
@vanthao03596 The latest release adds support for `MorphedByManyOfDescendants` relationships:
https://github.com/staudenmeir/laravel-adjacency-list#morphedbymanyofdescendants

[code]

[2021-12-06 13:59] toyi commented on #73
Works perfectly, thank you it's awesome.

I guess we can close this issue, have a nice week!

[2021-12-06 13:59] #73 closed

[2021-12-08 21:02] #45 closed

[2021-12-08 21:03] #61 closed

[2021-12-09 09:31] ccerrillo opened #74 "hasManyOfChildren"
In the docs explain how to get hasManyOfDescendants, but whereDepth is not available, How can i achieve hasManyOfChildren or use whereDepth with hasManyOfDescendants?

[2021-12-09 11:37] staudenmeir commented on #74
What is your recursive (e.g. `User`) and your related model (e.g. `Post`)?

[2021-12-09 12:40] ccerrillo commented on #74
For example, having this, i want to restrict recursivePosts to only direct user childs:

[code]

[2021-12-09 18:58] staudenmeir commented on #74
You can do that with a native `HasManyThrough` relationship:

[code]

[2021-12-09 20:40] ccerrillo commented on #74
Hell! it was very easy, this is exactly what i need, thanks!

If you allow me to abuse a little more... how could the same thing be achieved but using depth, for example to filter up to depth 15?

[2021-12-09 22:35] staudenmeir commented on #74
I released a new version that allows you to add intermediate depth constraints:

[code]

[2021-12-09 22:45] ccerrillo commented on #74
Great! Thanks!!

[2021-12-09 22:45] #74 closed

[2021-12-13 23:23] staudenmeir commented on #72
Your regular expression doesn't seem to work for me:
https://dbfiddle.uk/?rdbms=mariadb_10.5&fiddle=ed1d6d8e329fad8c1c9f0f3f83981c75

What are you doing differently?

[2021-12-14 08:11] amiranagram commented on #72
@staudenmeir You were missing a few slashes:

https://dbfiddle.uk/?rdbms=mariadb_10.5&fiddle=a3707d40dfe92efe014f53002f72946a

[2021-12-14 08:19] amiranagram commented on #72
Not sure, maybe the snipped I posted above is wrong, but here is what I have now in my code, that is working:

[code]

[2021-12-14 22:11] staudenmeir commented on #72
Thanks. What cases does `REGEXP_REPLACE (..., '^v', '' )` take care of?

[2021-12-14 22:50] amiranagram commented on #72
Oops. That part is unnecessary, I was using this same query to sort rows by version from a `packages` table I had in another project. That part is removing `v` in `v1.0.0`.

I updated the previous comment. @staudenmeir

[2021-12-28 22:30] #71 closed

[2021-12-29 09:07] ccerrillo opened #75 "lockForUpdate error"
Hi,
 forget this, the error was on my side

[2021-12-29 09:15] ccerrillo commented on #75
Sorry i see the error

[2021-12-29 09:16] #75 closed

[2022-01-04 20:06] staudenmeir commented on #72
Thanks. I released a new version that fixes the issue with your regular expression (I added you as a co-author to the commit). It was a bit more complicated because MySQL requires a slightly different expression.

[2022-01-05 16:54] amiranagram commented on #72
Thanks for your great work @staudenmeir :)

[2022-01-05 16:54] #72 closed

[2022-01-10 08:39] azzumed opened #78 "withSum Builder method - invalid query"
`$result = Activity::query()->withSum('descendantsAndSelf', 'properties_changed_count')->get();`
When executing SQL, produces error:
[code]

Full error:
[code]

Full generated ORM query:
[code]

[2022-01-10 12:22] staudenmeir commented on #78
I'll look into it.

[2022-01-10 22:30] staudenmeir commented on #78
I released a new version that supports queries like this.

[2022-01-11 12:18] azzumed commented on #78
Thanks, it helped ❤

[2022-01-11 12:18] #78 closed

[2022-01-13 18:22] mfmarques opened #79 "[Question] - Recursive two columns"
Hello, i have a question to check if your package can fit my requirements. I've looked at HasRecursiveRelationships and i couldn't make it work only with the '**parent_id**' key

I want to get all the users (through user_id) that I have access. I'm logged with **1599** and i have direct access to **843|883** and **1218** because i'm the responsible for **843** and the **843** is the responsible fo

[2022-01-13 19:22] staudenmeir commented on #79
Is **1599** your user's `id` or `user_id`?

[2022-01-13 19:49] mfmarques commented on #79
1599 is the `id` related to another table '**members**' and there i have the `user_id`. Sorry i forgot to mention the other tables related to this.

So the schema is:

`members`

**id** | **user_id** (users table) | other fields....

843 | uuid
883 | uuid
1218 | uuid
1599 | uuid

`member_responsibles`

**id** | **member_id** (members table) | **responsible_id** (members table)
1 | 843 | 1599
2 | 8

[2022-01-13 20:01] mfmarques commented on #79
Thank you for the feedback!

[2022-01-26 12:16] toyi commented on #6
@staudenmeir Any update on this issue?

[2022-01-28 00:07] waldir6494 opened #80 "Problem with method withCount"
Hello, I have a problem, I get the following error when I use the withCount method:

"SQLSTATE[42000]: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'with'. (SQL: select [levels].*, (with [laravel_cte] as (select * from (select *, 1 as [depth], cast([id] as varchar) as [path] from [levels] as [laravel_reserved_0] where [laravel_reserved_0].[parent_id] = [l

[2022-01-28 06:42] staudenmeir commented on #80
Unfortunately, SQL Server doesn't support this kind of query (CTE in correlated subquery).

You need to use a different approach:

[code]

[2022-01-28 13:11] waldir6494 commented on #80
I understand, thank you very much

[2022-01-28 22:54] staudenmeir commented on #6
I've been trying to find a solution that doesn't a "merger" package for each combination of conflicting packages, but there doesn't seem to be a better way. So I'm working on these packages at the moment.

[2022-02-01 18:00] ayman-elmalah opened #81 "How to get the tree without self"
When i'm getting the tree of object, it return the same object in the tree, i don't need the same object name

So if i have tree of phone

iphone will have the tree like

electronics > phones > iphone

I don't need iphone to be in the tree, i need the tree to be like electronics > phone

[2022-02-01 18:18] ayman-elmalah commented on #81
$response = $model->tree()->get();

And for the model

public function getCustomPaths(): array
    {
        return [
            [
                'name' => 'slug_path',
                'column' => 'name',
                'separator' => ' > ',
            ],
        ];
    }

[2022-02-02 17:28] staudenmeir commented on #81
`$model->tree()->get()` is equivalent to `YourModel::tree()->get()` and fetches the _whole_ tree of _all_ models.

What result are you expecting? "tree of object" sounds like you want to get the model's descendants: `$model->descendants`

This sounds like you want to get the model's ancestors: `$model->ancestors`

[2022-02-02 17:39] ayman-elmalah commented on #81
No Model::tree()->get()
will return in slug_path [electronics > phones > iphone]
ancestors will return the full list as relation, i need it like the tree because it's will be sorted in datatable, i just need the names not the full list, as tree

[2022-02-02 17:42] ayman-elmalah commented on #81
I just need a way to get the tree or item without it self in slug path, just parents without it self, in same way as tree
In my question $model is Model it's a class, it just $model because of dependecy injection

[2022-02-03 21:07] staudenmeir commented on #81
`$model` is the "iPhone" object, right? What result do you need here exactly? Only `electronics > phones` as the model's path without its slug?

[2022-02-05 19:31] ayman-elmalah commented on #81
Yes that's right

[2022-02-06 14:54] staudenmeir commented on #81
Use the `ancestors` relationship and build the slug path in PHP:

[code]

[2022-02-06 15:16] ayman-elmalah commented on #81
I already implement this solution before but it's not working on datatable search slug path work

[2022-02-07 07:47] developman-akl opened #82 "Getting parents and the parents' siblings"
Hi,
Could you please give me an example how to implement in one query when need to retrive also the siblings of all parents using `ancestors` and `ancestorsAndSelf`?
The `ancestorsAndSelf` itself works fine of course, but I would like to know how to combine it properly with the `siblings` for each parent level in one query.
Example:

[code]

Expected result when querying ID11 is:
11, 10, 8, 7, 6,

[2022-02-07 19:23] staudenmeir commented on #82
The package doesn't provide a relationship for this. Do you need a full relationship (e.g. for eager loading) or is query to just fetch the results sufficient?

[2022-02-08 19:48] mikaeljorhult opened #83 "[Question] Performance"
First of all, thank you for all the great work you're doing for the Laravel community!

I've been using Nested Sets for dealing with a category tree and while it works fine it introduces some complexity into the application that I would like to avoid if possible.

Adjacency List and CTE seem to be a good solution to this so I'm wondering if you know how Adjacency List holds up against Nested Sets

[2022-02-08 20:57] staudenmeir commented on #83
Thanks! Unfortunately, it's hard to answer that. I haven't used the package with large datasets and I haven't gotten feedback about that from other users either (positive or negative).

However, I would expect the performance to be comparable if not better (with the right indexes and depending on the database). There's a clear advantage for write-heavy applications as inserting/updating/deleting n

[2022-02-09 17:43] mikaeljorhult commented on #83
Yes, I realise that it's a bit of a "how long is a piece of rope" kind of question where it always depends on the specific situation. I thought that I would at least ask in case you've tested or even read anything as I even struggle to find any good articles comparing the approaches.

I run the application on MySQL and SQLite and uses Nested Sets to create a tree view of nested categories (similar

[2022-02-09 21:32] staudenmeir commented on #83
I don't think performance will be an issue here, but I'd love to hear from your results.

[2022-02-10 07:26] developman-akl commented on #82
Sorry for the late reply. Actually it is needed to create a report, not just for optics.
Is there another workaround with the existing relationships? No matter how ugly is that. :)

[2022-02-14 12:11] dellow opened #85 "Product categories handle string question"
Hi,

Great package, I've been using this for a while but I'm not sure if I've been taking full advantage of its power.

If I have a store with a category URL like so: https://store.com/category/clothing/footwear/mens

Is there a suitable way to then query my `Category` model to find a category with the following parent/child hierarchy: "Clothing > Footwear > Mens"

No problem if not, I just wonder

[2022-02-14 18:51] staudenmeir commented on #85
Thanks. You want to find all categories that have these three categories as their ancestors?

Does `Footwear` have to be a direct child of `Clothing` and `Mens` a direct child of `Footwear`? Or can there be categories between them?

What's the field called that stores `clothing` etc.? `slug`?

[2022-02-14 18:52] mikaeljorhult commented on #83
Okay, so I did some testing between Adjacency List and Nested Set today and I didn't notice any difference in performance at all.

Did the testing in two phases - I first measured the time inserting 850 nodes divided over 17 root nodes and then measured the time to build the complete tree. I tested both SQLite and MySQL and the results where within 1-2 milliseconds of each other on both tests.

So

[2022-02-14 18:52] #83 closed

[2022-02-14 19:02] staudenmeir commented on #83
Thanks for the update 👍

[2022-02-15 09:58] dellow commented on #85
Yes correct, they would be direct children as laid out above.

The field would be `handle`.

[2022-02-15 12:40] staudenmeir commented on #85
Try this:

[code]

How many categories do you have in your database?

[2022-02-16 20:37] staudenmeir commented on #82
How would you use the relationship? (Why) does it have be in one query?

[2022-02-16 20:39] staudenmeir commented on #81
How do you mean that? Why is it not working?

[2022-02-17 19:24] developman-akl commented on #82
It doesn't have to be one query, but needs to feed a server side Laravel Datatables which works faster with a query object rather than with a collection.
Like this:

`Datatables::of(User::query())->make(true)`

https://datatables.yajrabox.com/eloquent/basic-object

[2022-02-18 09:14] staudenmeir commented on #82
You can do something like this to get a collection (depending on the expected order):

[code]

A (raw) query would also be possible but is more complicated. I'll look into that.

Because of pagination?

[2022-02-19 21:30] skoontastic opened #86 "Routing with adjacency..."
Not really an issue with the package, but hoping just for a push in the right direction. If I'm using this package for, say, a CMS where there are pages multiple levels deep, what's the best way to set up the routes in Laravel?

[2022-02-20 14:57] staudenmeir commented on #86
A somewhat similar question came up just this week in #85. Do you have a URL structure like this in mind?

Can you share the table's migration and some sample data?

[2022-02-20 21:45] skoontastic commented on #86
So in my particular case I'm building out a website for a school. Pages would have urls something like https://getschools.org/high-school/activities/volleyball/. So all of those would be pages of different models. The High School page would be a School model with a School view, activities would have an Activity model and view, etc., and all of them would have a polymorphic relationship to the Page

[2022-02-20 22:07] staudenmeir commented on #86
How are the pages in the URL related? Are they direct children of each other (i.e. `high-school` > `activities` > `volleyball`)?

[2022-02-20 22:32] skoontastic commented on #86
Yes, they would be related via the `pageable` model, which uses the adjacency list. So `volleyball` would have the `parent_id` of the `activities` page, which would in turn have the `high-school` page as the `parent_id`. The issue is just figuring out how to get the Laravel router to sort of ignore the leading slugs and focus on the last one only.

[2022-02-20 22:41] staudenmeir commented on #86
Are `high-school`, `activities` and `volleyball` slugs of `pages` or slugs of `schools`, `activities` etc. (or both)?

Does this type of URL always have exactly three levels?

[2022-02-20 22:47] skoontastic commented on #86
No, the levels can be arbitrary, so it could go deeper depending on the page structure of that section. The slugs, I think, would have to be slugs of `pages`.

I really appreciate you thinking about this with me, I understand this isn't exactly inside the scope of the plugin, but it is "adjacent" in a way. _I hope you see what I did there._

[2022-02-20 22:59] staudenmeir commented on #86
So the controller wouldn't actually check the URL's slugs and their hierarchy but instead only take the last one and get its page from the database? With a route like https://stackoverflow.com/a/31408082/4848587?

[2022-02-21 01:30] skoontastic commented on #86
Sweet, that got me there! Code is raw and ugly, but this seems to work.

[code]

[code]

Thanks for the push in the right direction, I really appreciate it.

[2022-02-21 06:29] staudenmeir commented on #86
👍 Thanks for your donation!

[2022-02-21 21:31] dellow commented on #85
Sorry for the delay. Ok great I will try that.

Currently quite a few. Around 500 or so most are only 2 level deep though.

Many thanks for your help. I'll try this and get back to you.

[2022-02-21 23:54] #86 closed

[2022-02-23 01:43] jaesung2061 opened #87 "Getting "Integrity constraint violation: 1052 Column 'depth' in field list is ambiguous""
I have a fresh Laravel and Homestead installation and the latest release of this package.

laravel: v9.2.0
php: v8.1.0
mysql: 8.0.27-0ubuntu0.20.04.1

I'm getting the error message as mentioned in the title:

Here is the query:

[code]

What could be causing this issue? And thank you for this package!

[2022-02-23 09:09] staudenmeir commented on #87
What query are you running to get this SQL?

[2022-02-23 17:06] jaesung2061 commented on #87
This is the query I'm running:

    Post::with('user')->with('comments.descendants')->latest()->paginate(10)

[2022-02-23 17:11] staudenmeir commented on #87
Does your `comments` table have a column named `depth`?

[2022-02-23 17:12] jaesung2061 commented on #87
It does. It is an integer column.

[2022-02-23 17:17] staudenmeir commented on #87
The package add its own computed `depth` column to the query and that conflicts with the table's column.

You need to customize it:

[code]

[2022-02-23 17:30] jaesung2061 commented on #87
That fixed it! Thank you so much!

I do have one more question, though. Is it possible to limit the number of replies per comment and to sort by a constraint such as votes?

I've tried this, but I get an error.

    $posts = Comment::withRecursiveQueryConstraint(function ($q) {
        $q->limit(10);
    }, function () {
        return Post::with('user')->with('comments.descendants')->latest()->pa

[2022-02-23 18:10] jaesung2061 commented on #87
I understand. I'll have to see which one is best suited for my use case. Thank you so much for your help and your packages.

[2022-02-23 18:10] #87 closed

[2022-03-11 09:02] Nextra opened #88 "[Feature Request] Cycle detection"
When trying to model certain graphs it can be difficult to avoid cycles in the relationships. I know performing a `LIMIT` query with an unreasonably high count can alleviate infinite loops, but it is not a particularly pretty solution. It needs additional handling of the result set, and still makes the database run the loop to that limit unnecessarily.

At least MariaDB and PostgreSQL allow avoidi

[2022-03-11 09:35] staudenmeir commented on #88
I have actually looked into this topic while working on a new feature that allows nodes with multiple parents (#26), but I didn't consider it for the existing relationships. I didn't think a cycle could realistically appear in a single-parent tree.

Can you share an example of a cycle in your (real-life) data?

[2022-03-11 11:05] Nextra commented on #88
I stumbled on this when (maybe naively) importing a fairly conventional organizational hierarchy.

Once I get to the top in this particular case - think board members - everyone is modeled as being each others boss, going around in a big circle.

That means from any given starting point I have a (somewhat arbitrarily) long string of ancestors and then a big loop at the top. Kind of like a lasso :s

[2022-03-13 08:58] staudenmeir commented on #88
What Laravel version and database are you using?

[2022-03-14 08:17] Nextra commented on #88
Laravel 9.4 and PostgreSQL 14.0

[2022-03-14 19:02] staudenmeir commented on #88
I added [cycle detection](https://github.com/staudenmeir/laravel-cte#cycle-detection) to the underlying `laravel-cte` package, but I'm still thinking about the integration into this package.

If you want to use it immediately, you need to override `scopeWithRelationshipExpression()` in your model:

[code]

[2022-03-16 13:52] Nextra commented on #88
Works beautifully on Postgres, excellent stuff!

[2022-03-20 22:56] staudenmeir commented on #6
I released a new package that merges `eloquent-eager-limit` and `laravel-adjacency-list`:
https://github.com/staudenmeir/eloquent-eager-limit-x-laravel-adjacency-list

[2022-03-20 23:05] mrgodhani commented on #6
@staudenmeir Looking at the package it says supports only Laravel 9+. What about applications if we are still on Laravel 6? Is it backwards compatible?

[2022-03-21 07:42] staudenmeir commented on #6
The package only supports Laravel 9+ because supporting older versions is not feasible for me. I already spent way too much time on this issue. Laravel 6 itself also doesn't get updates anymore (except for security fixes).

[2022-03-21 19:17] staudenmeir commented on #87
I released the package that merges `eloquent-eager-limit` and `laravel-adjacency-list`, but limits on `Descendants` relationships are not supported yet. Due to the nature of `Descendants` queries, not every use case is possible. A query can only work correctly if it's ordered by depth: `orderBy('depth')`/`breadthFirst()`

In your case, the query would select a comment's direct children first, then

[2022-03-23 03:06] mosfetish opened #89 "Sanity check: comments for posts"
I have a posts table and a comments table. Each post can have many comments and the post itself is effectively the root for all its comments,

Therefore my comments table has fields for: comment.id, comment.parent_id, comment.post_id. When a comment doesn't have a parent (that is, it's a "level 1" comment) I set the parent_id to NULL and set the post_id to the post's id Then I use a constraint for

[2022-03-23 07:36] staudenmeir commented on #89
Yeah, that's I would do.

[2022-03-23 21:34] mosfetish commented on #89
Thanks, Jonas. And thanks for the package.

[2022-03-24 11:42] pda-code opened #90 "descendantsAndSelf always fetches the Self part ignoring criteria"
Suppose we have as a classic nested structure of Users Group

UserGroup-1
 --- UserGroup-1.1
 --- UserGroup-1.2

![image](https://user-images.githubusercontent.com/10973438/159907533-dcd684be-bfb8-466e-8099-c9364db6839b.png)

and each `UserGroup::class` have `Roles  `with a classic pivot table

![image](https://user-images.githubusercontent.com/10973438/159907648-8d174274-79a4-4f59-915b-6af690b6fa

[2022-03-24 12:43] staudenmeir commented on #90
Can you share some sample data (all three tables) and the expected vs. actual result?

[2022-03-24 19:30] ccerrillo opened #91 "withSum method - invalid query"
Hi, i have this problem:

With this query:
[code]
I'm getting this error:
[code]
Of Course users table has a id column

But if i put that query in phpmyadmin i got a syntax error near:
[code]
I'm using last version v1.10.1 and MariaDb 10.5

I think this query should work, what i'm missing?

[2022-03-24 20:18] staudenmeir commented on #91
Unfortunately, MariaDB doesn't support this kind of query yet:
https://jira.mariadb.org/browse/MDEV-19077

[2022-03-24 20:28] ccerrillo commented on #91
ops! thanks!

[2022-03-24 20:28] #91 closed

[2022-03-25 00:47] pda-code commented on #90
I attached a zip file with an sql of the database (3 tables + sample data) + 2 Eloquent models

[Demo.zip](https://github.com/staudenmeir/laravel-adjacency-list/files/8346524/Demo.zip)

### Running Example

![image](https://user-images.githubusercontent.com/10973438/160033021-a11763bf-37f6-40fa-bb6b-cbcf6e4d250d.png)

### Results
![image](https://user-images.githubusercontent.com/10973438/16003306

[2022-03-25 07:39] staudenmeir commented on #90
The query does behave correctly: Your `whereHas('descendantsAndSelf', ...)` constraint returns all user groups that have role `1` themselves _or_ that have a descendant with that role. In this case, user group `1` is returned because its descendant `2` has that role.

The query should only return user group `2`, right? Why should `1` not be returned?

What do you mean by "fetch all the descendants

[2022-03-25 11:37] pda-code commented on #90
I think of `descendantsAndSelf` a way to fetch a subtree in a flat collection if items.

My basic usage of descendantsAndSelf is

//<some_id> is the root of the subtree
`UserGroupModel::whereId(<some_id>)->whereHas('descendantsAndSelf', ...)`

meaning I want to return all the models contained in a subtree that match certain criteria.

For Example 'Find all UserGoups that has attached role 'adminst

[2022-03-25 20:43] staudenmeir commented on #90
If I understand you correctly, you also need to add the role constraint to the eager loading clause:

[code]

[2022-03-25 22:40] pda-code commented on #90
Thank you very much for your time....

Your code runs as expected and i think i made a interpretation  mistake of what `descendantsAndSelf` means

[2022-03-26 09:35] #89 closed

[2022-03-26 09:36] #85 closed

[2022-03-26 09:36] #82 closed

[2022-03-26 09:36] #81 closed

[2022-04-01 20:11] podrabinek opened #92 "Show all posts recursively, having Categories + Subcategories."
Help me please, what should I do? I want to show all posts recursively, having Categories + Subcategories.

I want to recursively list Posts within each Category, including all parent and self

Should be:

**/category/development/** (2 items)
-- id 23 Learn JS
-- id 24 Learn PHP

**/category/frontend/** (1 item)
-- id 23 Learn Javascript

**/category/backend/** (1 item)
-- id 24 Learn PHP

I have

[2022-04-02 08:07] podrabinek commented on #92
It's always better to go to sleep.

Apparently, moving the relationship to Category Model helped:

[code]

[code]

[2022-04-02 08:17] podrabinek commented on #92
Oh, no, I get multiple elements :(

[2022-04-02 09:36] podrabinek commented on #92
Had to use Spatie's laravel-collection-macros to paginate on collection
[code]

I also tried this, but got the pagination inconsistency:
[code]

[2022-04-03 13:37] staudenmeir commented on #92
What inconsistencies did you get?

[2022-04-03 15:04] podrabinek commented on #92
Well, I got 4 items on first page, 5 on second and 3 on third with `paginate(5)`, for example. Expected 5, 5, 2

[2022-04-03 15:17] staudenmeir commented on #92
Can you log all these pagination queries? Can you provide a database export of the three tables involved?

[2022-04-04 11:24] podrabinek commented on #92
Cannot reproduce anymore :( Seems like everything is fine. Thank you so much!

P.S: could you confirm that `->distinct('posts_categories.post_id')` is reasonable for this situation? Looks like it changes nothing

[2022-04-04 13:40] LuisEHurtado opened #93 "toTree does not exist"
Hi, I'm thinking of getting my tree and I couldn't, due to this error **toTree does not exist**

my query = VideoComment::tree()->get()->toTree();

Version : 1.6

how can i solve this problem?

[2022-04-04 13:54] #93 closed

[2022-04-06 22:14] #90 closed

[2022-04-08 11:48] daninfocus opened #94 "Multiple parent_id"
Hi thanks for the package!
I have a problem where a User table for example has a **father** and a **mother** ID, they also belong to the User table, how can I use this package to get all the ancestors, from both sides of the parents.
Maybe a hasMany relationship with its self. But is there a way to define both parent IDs?

[2022-04-08 13:27] #94 closed

[2022-04-08 17:09] luismabenitez commented on #79
any update on this?

[2022-04-08 17:12] daninfocus commented on #11
Hi will this work for #79 feature?

[2022-04-08 22:15] jaesung2061 commented on #87
Hey @staudenmeir, thanks so much for this. I will take a look at it.

[2022-04-08 22:22] staudenmeir commented on #87
Here is the package: https://github.com/staudenmeir/eloquent-eager-limit-x-laravel-adjacency-list

I have added support for limits on `Descendants` relationships in the meantime, but the limitation I mentioned still applies:
https://github.com/staudenmeir/eloquent-eager-limit-x-laravel-adjacency-list#limitations

[2022-04-10 16:27] staudenmeir commented on #92
`->distinct('posts_categories.post_id')` doesn't have the desired effect because it behaves like `->distinct()` and applies `DISTINCT` to _all_ select columns (not a Laravel issue, that's how SQL works):

[code]

You get duplicate posts because the query also takes `posts_categories.category_id` into account when determining unique rows.

Distinct queries are even more complicated/troublesome in c

[2022-04-10 18:23] podrabinek commented on #92
@staudenmeir Thank you so much for this explanation, appreciate it

[2022-04-10 18:31] staudenmeir commented on #92
Thanks for your donation!

[2022-04-10 19:53] staudenmeir commented on #11
#79 is similar, but there's a crucial difference: In #79, the parent ids are defined in a separate table.

[2022-04-11 08:18] podrabinek commented on #92
I've tested on my database with ~10k Posts records, 80 Categories and their respective depth 3, seems like the the query you suggested is too slow:

**377+87 ms**

[code]

<img width="1103" alt="Cleanshot-11-10 14 18" src="https://user-images.githubusercontent.com/2670183/162693880-434cead6-0b74-47da-9390-a88066b0995c.png">

**9.76+1.72ms**

[code]

<img width="1127" alt="Cleanshot-11-10 12 25" sr

[2022-04-11 10:08] staudenmeir commented on #92
Can you share the database dump?

[2022-04-11 10:56] podrabinek commented on #92
[getyourstudy.gz](https://github.com/staudenmeir/laravel-adjacency-list/files/8463411/getyourstudy.gz)

[2022-04-11 16:49] podrabinek commented on #92
Also I have performance issues with ORDER BY updated_at
You can fill the field with random dates and see

[code]

[2022-04-11 21:55] staudenmeir commented on #92
Try this query:

[code]

It also returns the correct results, but is _much_ faster than the `GROUP BY` query on my machine. From what I know, they are basically the same query and should have a similar performance, but apparently that's not the case here.

[2022-04-12 16:33] luismabenitez commented on #11
@staudenmeir but the point is to get something like father_id and mother_id on the same table. Like that, think we have a "dogs" table or a "persons" table. That relation to father_id or mother_id will be a belongsTo the same table. Read on some issue that is a WIP task?

[2022-04-12 20:02] podrabinek commented on #92
I've kind of sorted it out - the query slows because I have 3 text fields (body, body_short, headline). I'm converting them with the Post Model Attribute, to get one field instead of three (because sometimes `body` is absent, sometimes `body_short`, etc). I don't know, maybe I have to make an aggregated field in the table and not to play with this data on the Model or Controller layer.

**245ms on

[2022-04-12 20:18] staudenmeir commented on #92
Did you try `->groupBy()` with this query? In combination with `->orderByDesc('posts.id')`, it's a bit faster for me.

[2022-04-13 07:24] podrabinek commented on #92
Yes, it's a bit faster, but the previous query grows in excecution time

Before `groupBy('posts.id')`

![Cleanshot-13-09 20 48](https://user-images.githubusercontent.com/2670183/163121916-e882aff4-c001-4538-814d-ea77a6577da1.png)

After:

![Cleanshot-13-09 22 31](https://user-images.githubusercontent.com/2670183/163122039-7e01f583-daa3-4791-90fd-f4bc08b0cac1.png)

The query:

[code]

[2022-04-13 17:32] IMCAgro opened #95 "Problem with alias"
mysql 8.0
php 7.3
Lar 8.75

constraint violation: 1052 Column 'id' in field list is ambiguous

I am trying to filter with constraint

[code]

Inside my filter query
[code]

Query starts without alias
[code]

[2022-04-13 17:47] IMCAgro commented on #95
Besides - same problem if i want use aliases in table.

[2022-04-15 21:12] staudenmeir commented on #95
Please share the whole error message.

[2022-04-17 09:47] IMCAgro commented on #95
Oh sorry - i had fixed it( its another query -> but the same problem

I had made another trait - where select *, 0 as `depth`, cast(`id` as char(65535) this builds - and add alias for it

Query without alias is build here
[code]

Its with error
`
SQLSTATE[23000]: Integrity constraint violation: 1052 Column 'id' in field list is ambiguous (SQL: with recursive `api_laravel_cte` as ((select *, 0 as `

[2022-04-17 09:50] IMCAgro commented on #95
great work - besides!

[2022-04-21 08:09] MiladAheshmeh opened #96 "How can I update db fields by count "descendantsAndSelf" for all users"
**How can I update db fields by count "descendantsAndSelf" for all users**

[2022-04-21 16:31] staudenmeir commented on #96
What do you mean by "by count"? What does your query look like at the moment?

[2022-04-21 16:38] handhikadj commented on #49
I have this issue. @staudenmeir would you reopen this?
this is the `toSql` dump:

[code]

[2022-04-21 16:39] staudenmeir commented on #49
@handhikadj Please create a new issue.

[2022-04-21 16:40] handhikadj commented on #49
okay. what a quick response

[2022-04-21 16:43] handhikadj opened #97 "rootAncestor() returns null"
advancing on this issue: https://github.com/staudenmeir/laravel-adjacency-list/issues/49

[code]

this is the `toSql` dump:

[code]

[2022-04-21 21:22] staudenmeir commented on #97
Does `Category::find(9)->ancestors` give you the correct result?

What's the result of `dd(Category::find(9)->getAttributes());`?

[2022-04-22 07:36] handhikadj commented on #97
yes, the `ancestors()->get()` returns me
[code]

the `->getAttributes()` returns me like using `->first()->toArray()`

[2022-04-22 09:58] handhikadj opened #98 "Method Illuminate\Database\Eloquent\Collection::toTree does not exist"
code this `\App\Models\Category::tree()->get()->toTree()` got that error

[2022-04-22 16:04] staudenmeir commented on #98
What versions of the package and Laravel are you using?

[2022-04-22 16:04] staudenmeir commented on #97
What does the actual result look like?

[2022-04-23 03:00] jefferose opened #99 "Filter all categories by column"
I'm building a site that has recursive categories called "categories" and each has a flag called 'is_visible' that's either 0 or 1. I need to pull back the tree with only visible categories, but can't seem to make it work.

This pulls the whole tree, which is great.
`$categories = Category::with('wordlists')->tree()->orderBy('title')->get()->toTree();`

Based on the docs, I thought I could do this

[2022-04-23 07:51] staudenmeir commented on #99
Do you mean like this?

[code]

[2022-04-23 11:02] MUHAMMADSiyab commented on #98
Same issue, using laravel version ^7.24 and PHP 7.4. The package version is ^1.0

[2022-04-23 11:09] staudenmeir commented on #98
What's the result of `composer show staudenmeir/laravel-adjacency-list`?

[2022-04-23 11:13] MUHAMMADSiyab commented on #98
It's showing version 1.5

[2022-04-23 11:15] MUHAMMADSiyab commented on #98
name     : staudenmeir/laravel-adjacency-list
descrip. : Recursive Laravel Eloquent relationships with CTEs
keywords :
versions : * v1.5
type     : library
license  : MIT License (MIT) (OSI approved) https://spdx.org/licenses/MIT.html#licenseText
homepage :
source   : [git] https://github.com/staudenmeir/laravel-adjacency-list.git 4e5334c0c7db90b9678a22d9228da10709692c71
dist     : [zip] https://a

[2022-04-23 11:55] staudenmeir commented on #98
I released `v1.5.1` that brings `toTree()` to Laravel 7.

[2022-04-23 11:59] MUHAMMADSiyab commented on #98
@staudenmeir Glad it solved my problem 😊

[2022-04-23 18:07] jefferose commented on #99
Of course it was just a matter of syntax! Thanks for your help.

[2022-04-23 18:07] #99 closed

[2022-04-24 08:44] ampedweb opened #100 "Only retrieve descendants for ids in "expandedPageId" list."
Hi there,

I'm currently constructing a "page tree" using this package, and I have to say it's really great so far! :-)

However, I'm trying to optimise the query a little to only retrieve the children for pages in the "expandedPagesId" array that I adjust depending on which child pages are expanded.

Just so you have a visual example:

![image](https://user-images.githubusercontent.com/22029493/1

[2022-04-24 13:59] psuet opened #101 "Postgres: operator does not exist: integer[] || character varying at character 216"
Hi,

when using Identity::findOrFail($id)->ancestors I get the following error:

[code]
Identity::findOrFail($id)->parent works as expected.

**Database:**
Postgresql 14

**Basic Schema:**
(simplified)
[code]

[2022-04-24 20:34] staudenmeir commented on #101
Please share the `Identity` model.

[2022-04-24 20:50] staudenmeir commented on #100
Which pages should the query retrieve in this case?

[2022-04-25 06:15] handhikadj commented on #98
staudenmeir/laravel-adjacency-list v1.3.2
Laravel v6.20.44

[2022-04-25 06:17] handhikadj commented on #97
[code]

[2022-04-25 07:38] staudenmeir commented on #97
This is not category `9` from your original question, this is category `1` which doesn't have a root ancestor.

[2022-04-25 09:53] handhikadj commented on #97
the result is still the same. I've tried with the other id with the category whose `parent_id` not 0 with this hierarchy: `John -> Michael -> Stephanie`. let's say `Stephanie` has id of `10` , the `getAttributes()` returns me:
[code]

 and the `rootAncestor()->first()` still returns `null`

[2022-04-25 19:04] staudenmeir commented on #101
That's the whole model, right?

What version of the package are you using?

[2022-04-25 19:10] psuet commented on #101
Yes, I minified it, so that the problem persists but where it should still work.

[code]
Currently: 1.9.5

[2022-04-25 19:31] staudenmeir commented on #101
I released a new version that supports table names with schema.

[2022-04-27 01:55] psuet commented on #101
Thank you! Works as expected now.

[2022-04-27 01:55] #101 closed

[2022-04-28 16:09] denizgolbas opened #102 "User Model Query duplication without calling anything from HasRecursiveRelationships class"
Hello,

[code]

This is my user model. I use descendants() just a particular page. But instead of this page i see HasRecursiveRelationships class triggered by every User::find(id) queries.

<img width="1440" alt="Screen Shot 2022-04-28 at 19 08 00" src="https://user-images.githubusercontent.com/27892099/165796490-e61ad3aa-3b83-485a-96c7-409aac0a569d.png">

[2022-04-28 17:14] staudenmeir commented on #102
In models that use the package's `HasRecursiveRelationships` trait, it has to override the default Eloquent query builder class so it can do its job:

https://github.com/staudenmeir/laravel-adjacency-list/blob/c39224c118cf9354425c1113ba8c04c4fccb9ce4/src/Eloquent/Traits/HasAdjacencyList.php#L399-L402

Because of this, the package's builder class is used for _all_ of the model's queries – even if y

[2022-04-28 20:44] denizgolbas commented on #102
Thanks for your info

[2022-04-28 20:44] #102 closed

[2022-04-29 20:29] BenQoder opened #103 "Error when using Custom Relationships"
Whenever I try using any custom relations, I get this error

"Call to undefined method Illuminate\Database\Eloquent\Builder::withRecursiveExpression()"

[2022-04-29 21:06] staudenmeir commented on #103
What do your custom relationships look like? How are you using them?

[2022-04-29 21:20] BenQoder commented on #103
I have a recursive Location model.
Then a Business model with location_id

I am trying to get all businesses associated to a Location or its descendants

[code]

[2022-04-29 21:27] staudenmeir commented on #103
Please share your `composer.json` file.

[2022-04-29 21:33] BenQoder commented on #103
[code]

[2022-04-29 21:35] staudenmeir commented on #103
Please share the whole error message (with stacktrace).

[2022-04-29 21:55] BenQoder commented on #103
Heres the full stack trace

[code]

[2022-04-29 21:59] staudenmeir commented on #103
Please share the `businesses()` method in `LocationLocationsController`.

[2022-04-29 22:12] BenQoder commented on #103
I am trying to do something like this

[code]

[2022-04-29 22:18] staudenmeir commented on #103
What output does `composer dump` give you?

[2022-04-29 22:20] BenQoder commented on #103
Generating optimized autoload files

Discovered Package: akaunting/laravel-money
Discovered Package: althinect/filament-spatie-roles-permissions
Discovered Package: asbiin/laravel-adorable
Discovered Package: bavix/laravel-wallet
Discovered Package: blade-ui-kit/blade-heroicons
Discovered Package: blade-ui-kit/blade-icons
Discovered Package: filament/filament
Discovered Package: filament/forms
Dis

[2022-04-30 06:46] BenQoder commented on #103
After go through your test, I saw you added QueriesExpressions trait to the Post model (In my case Business model).

So progress, I can do

[code]

but I can eager load count like

[code]

I am getting

[code]

Thank you for the help so far.

[2022-04-30 07:24] staudenmeir commented on #103
Yeah, one of the other packages provides their own `DatabaseServiceProvider` which overrides the provider of this package.

What database engine and version are you using?

[2022-04-30 07:27] BenQoder commented on #103
MariaDB 10.6.7

[2022-04-30 07:31] staudenmeir commented on #103
Unfortunately, MariaDB doesn't support this kind of query yet:
https://jira.mariadb.org/browse/MDEV-19077

You can do something like this (if it's only a single location):

[code]

[2022-04-30 07:56] BenQoder commented on #103
Alright, I'll look at MySQL 8.0

[2022-04-30 07:57] BenQoder commented on #103
Thank you, so much.

[2022-04-30 07:57] #103 closed

[2022-04-30 11:13] handhikadj opened #104 "installation error on Laravel 6.20.44 with PHP 8.0.18"
`composer require staudenmeir/laravel-adjacency-list`

[code]

`composer require staudenmeir/laravel-adjacency-list:"^1.0"`

[code]

[2022-04-30 11:18] staudenmeir commented on #104
What operating system are you using?

[2022-04-30 11:22] staudenmeir commented on #97
What's the result of `dd(Category::find(10)->ancestors()->toSql(), Category::find(10)->rootAncestor()->toSql());`?

[2022-04-30 11:25] handhikadj commented on #104
mac m1

[2022-04-30 11:27] staudenmeir commented on #104
What terminal are you using? Are you in an IDE?

[2022-04-30 11:31] handhikadj commented on #104
iterm

[2022-04-30 12:18] staudenmeir commented on #98
I released `v1.3.3` that brings `toTree()` to Laravel 6.

[2022-04-30 12:23] staudenmeir commented on #104
I thought it was a terminal issue, but the package didn't support PHP 8 on Laravel 6. I released `v1.3.3` that brings support for PHP 8 to Laravel 6.

[2022-05-02 16:35] handhikadj commented on #97
[code]

[code]

[2022-05-02 16:37] handhikadj commented on #98
thanks. updated code: `return \App\Models\Category::get()->toTree();`

[2022-05-02 16:37] #98 closed

[2022-05-02 16:37] #104 closed

[2022-05-05 18:12] #95 closed

[2022-05-05 18:53] staudenmeir commented on #97
What's the result of `dd(Category::find(10)->ancestors->pluck('parent_id', 'id'));`?

[2022-05-05 19:01] staudenmeir commented on #92
Did you find a good solution?

[2022-05-06 06:19] handhikadj commented on #97
[code]

[2022-05-06 22:10] denizgolbas opened #105 "withCount('decendants) Error with MySQL"
My eloquent raw query is at below:
``
select `users`.*, (select sum(`commission_payments`.`amount`) from `commission_payments` inner join `commission_weeklies` on `commission_weeklies`.`id` = `commission_payments`.`id` where `users`.`id` = `commission_weeklies`.`user_id`) as `payments_sum_amount`, (select count(*) from `n_f_t_s` inner join `favorites` on `n_f_t_s`.`id` = `favorites`.`nft_id` where

[2022-05-06 22:24] staudenmeir commented on #105
Unfortunately, MariaDB doesn't support this kind of query yet:
https://jira.mariadb.org/browse/MDEV-19077

[2022-05-06 23:23] denizgolbas commented on #105
I tried change mariadb to mysql8.0. It works well. Thank you for information.

[2022-05-06 23:24] denizgolbas commented on #105
I tried change mariadb to mysql8.0. It works well. Thank you for information.

[2022-05-06 23:24] #105 closed

[2022-05-08 14:41] staudenmeir commented on #97
Now I see what the issue is: The package expects root models to have `parent_id=null`, but your root categories use `parent_id=0`.

If it's possible, I recommend that you change that to `null`. If it isn't, you need to override `scopeIsRoot()` in your model:

[code]

[2022-05-10 12:04] denizgolbas opened #106 "Sum of descendants' related table's sums column"
[code]

When I write 'id' or 'depth' instead of "nfts_sum_price", query is work well. But with "nfts_sum_price", I take "Undefined column" error.

Is "sum of descendants' related table's sums column at 1 query" possible for this package? If it is possible how is the query?

I'am trying this query because at test server we have 20k users rows.

When I try:
[code]

It works but I see at laravel debu

[2022-05-10 15:06] staudenmeir commented on #106
Can you share the whole error message? What database are you using?

[2022-05-10 15:57] denizgolbas commented on #106
**Database:** pgsql-12.4

**Query:**
[code]

**Error:**
[code]

`select "users".*, (with recursive "laravel_cte" as ((select *, 1 as "depth", array["id"] as "path" from "users" as "laravel_reserved_1" where "laravel_reserved_1"."reference_id" = "users"."id") union all (select "laravel_reserved_1".*, "depth" + 1 as "depth", "path" || "laravel_reserved_1"."id" from "users" as "laravel_reserved_1" in

[2022-05-10 17:12] staudenmeir commented on #106
Try a [`HasManyOfDescendants`](https://github.com/staudenmeir/laravel-adjacency-list#hasmanyofdescendants) relationship:

[code]

[2022-05-10 17:22] denizgolbas commented on #106
I see error like that:
`SQLSTATE[42703]: Undefined column: 7 ERROR: column "depth" does not exist LINE 1: ...elect sum("n_f_t_s"."price") from "n_f_t_s" where "depth" = ... ^`
`select "users".*, (with recursive "laravel_cte" as ((select *, 1 as "depth" from "users" as "laravel_reserved_1" where "laravel_reserved_1"."reference_id" = "users"."id") union all (select "users".*, "depth" + 1 as "depth"

[2022-05-10 17:40] staudenmeir commented on #106
What version of the package are you using?

[2022-05-10 17:52] denizgolbas commented on #106
staudenmeir/laravel-adjacency-list   v1.10.3 Recursive Laravel Eloquent relationships with CTEs
staudenmeir/laravel-cte              v1.6.2  Laravel queries with common table expressions

[2022-05-10 19:17] #96 closed

[2022-05-11 07:31] panthro100 opened #107 "Self Referencing Polymorphic instead of Parent ID?"
Instead of having `parent_id`, is this package able to use a polymorphic relationship to self reference?

For example, a comment system. A `comment` could `morphTo` a `post` or `comment` (a reply).

Inversely the `comment` would `morphMany` `comments` and `posts`.

Is this possible?

[2022-05-11 16:53] staudenmeir commented on #107
Can you share the `Comment` model, the `comments` migration and some sample rows?

[2022-05-11 20:50] staudenmeir commented on #107
Thanks. What kind of queries would you want to run on this structure?

- Get all comments of a post recursively?
- Get all replies to a comment recursively?

[2022-05-12 07:13] panthro100 commented on #107
What you mentioned would be useful.

I would like to get all comments for a `post` including all `decedents` to a tree. I have this set up using the `parent_id` method at the minute but was wondering if this could be achieved using a self referencing polymorphic relationship.

[2022-05-12 16:36] staudenmeir commented on #107
You can get the recursive comments of a post like this:

[code]

You can get the recursive replies to a comment like this:

[code]

[2022-05-12 17:44] panthro100 commented on #107
@staudenmeir thank you for that, I will try that out.

Is it possible to wrap the `withRecursiveQueryConstraint` in a relationship so I can use it with Laravel Query Builder?

[2022-05-12 18:59] staudenmeir commented on #107
In your case, it should be possible to add the constraint to all recursive queries:

[code]

[2022-05-13 11:43] denizgolbas commented on #106
You are amazing, thank you very much for your work.

[2022-05-13 11:43] #106 closed

[2022-05-14 14:43] #92 closed

[2022-05-17 14:47] Marchiuzzz opened #108 "[Question] Is it possible to apply this package for a many to many morphed relationships?"
Hello,
I have a relatively complicated database structure and was wondering if this package is suitable for my needs. I've tried inspecting every provided example but still couldn't figure out if it will work or not.
Here is a simplified explanation of the structure I have:
`Object.php` has a morphable relationship to different types of objects called `entityable`. One of those types is `Group.php

[2022-05-17 15:33] staudenmeir commented on #108
Can you share the structure of these tables (as migrations or a database dump) and a few sample rows?

[2022-05-18 06:50] Marchiuzzz commented on #108
@staudenmeir Sure here it is.
The "group" object I was talking about is actually called `View`
Here's it's structure
![image](https://user-images.githubusercontent.com/73941456/168972825-2b1d50f3-1fed-41e7-807e-b7633fcb5c2a.png)

`Objects` table structure (this is the object that morphs to entities - can morph to `View`)
![image](https://user-images.githubusercontent.com/73941456/168973151-96a3bc8

[2022-05-18 09:11] Marchiuzzz commented on #108
I've been playing around with CTE and I think this should be the correct query, however, I get `table list_structure not found` when I try to run it.

[code]

[2022-05-19 21:12] staudenmeir commented on #108
You had posted (and deleted) a CTE query that didn't work. It was missing the `RECURSIVE` keyword:

[code]

[2022-05-20 07:00] Marchiuzzz commented on #108
@staudenmeir Yup, I found that this was the issue so I deleted my comment 😄 I think I'll just go with manual approach, thanks

[2022-05-20 07:00] #108 closed

[2022-05-22 08:24] #25 closed

[2022-05-22 08:24] #6 closed

[2022-05-22 08:24] #8 closed

[2022-05-22 08:26] #51 closed

[2022-05-26 17:45] #107 closed

[2022-05-30 06:34] staudenmeir commented on #26
I released `v1.11` with support for graphs relationship (Laravel 9). Please test it and see what features/helpers are missing for your use cases.

[2022-05-30 06:37] staudenmeir commented on #26
@ipimpat

[code]

In your case, `descendants` are the recursive ingredients.

[2022-05-30 06:39] staudenmeir commented on #26
@jonagoldman

[code]

[2022-05-30 06:40] staudenmeir commented on #26
@toyi

[code]

[2022-05-30 06:47] staudenmeir commented on #26
@coclav

[code]

[2022-05-30 07:19] toyi commented on #26
@staudenmeir Thanks, nice feature. It could take some time but I'll surely test this.

[2022-05-30 08:13] coclav-skore commented on #26
This bring the package to another level. Can't wait to try it out ! thanks @staudenmeir

[2022-05-31 18:09] ipimpat commented on #26
@staudenmeir thank you very much, I can't wait to try it out.

[2022-06-02 17:17] daninfocus commented on #26
Hi, you have put in the readme:

Does this apply for a family tree with mother_id and father_id, instead of just a parent_id? In a pivot table for example.

[2022-06-03 18:33] daninfocus opened #109 "Tree scope for Multiple Parents per Node?"
Hi, I'm having an issue where the ancestors() method creates an infinite loop (I think).
I have a pedigree database with ~100000 entries.

Im trying to get up-to 5 generations or (depth)
Dogs::find($id)->ancestors()->whereDepth('>', -5)->get();

I understand the whereDepth() function only filters, and does not stop the query.
And I see that in  One Parent per Node there is tree scopes that allow y

[2022-06-03 18:45] staudenmeir commented on #109
Please share the `Dogs` model.

[2022-06-03 20:00] daninfocus commented on #109
`class Dog extends Model
{
    use \Staudenmeir\LaravelAdjacencyList\Eloquent\HasGraphRelationships;

    public function enableCycleDetection(): bool
    {
        return true;
    }

    public function getPivotTableName(): string
    {
        return 'dogs_pivot';
    }

    public function getParentKeyName(): string
    {
        return 'parent_id';
    }

    public function getChildKeyName()

[2022-06-04 11:43] staudenmeir commented on #109
I'm a bit confused about your table structure: Do you use `child_id` & `parent_id` or `sire_id` & `dam_id` to define the family tree (or both)?

[2022-06-04 11:54] daninfocus commented on #109
Sorry, so in the pivot table parent_id is used for both sire_id and dam_id from the dogs table.
Child_id is the dog.id, this dogs has 2 parents( sire_id and dam_id ), in the pivot table every dog.id will have 2 entries for different.
I got the idea [here](https://stackoverflow.com/questions/11372248/inbreeding-immune-database-structure):

[2022-06-04 12:14] staudenmeir commented on #109
How does this show? Does the query/app run out of memory?

Use a [recursive query constraint](https://github.com/staudenmeir/laravel-adjacency-list#graphs-recursive-query-constraints) to actually stop the query at the maximum depth:

[code]

I'm still working on that part and will probably add a helper like `Dog::withMaxDepth()`.

[2022-06-04 13:07] daninfocus commented on #109
Okay thank you so much!

I have the database on WSL2 Ubuntu, and when I call the ancestors() relationship without any filters, the process for WSL uses 99% of RAM and doesn't stop, so I have to shut down the database to stop this.

[2022-06-04 13:27] staudenmeir commented on #109
Weird, that's exactly what cycle detection should prevent.

Does it work with the depth constraint?

Is it possible for you to share a database dump of these two tables?

[2022-06-04 13:42] daninfocus commented on #109
Yes the depth constraint works fine, no "infinite loop".
I cant share the database right now, but the structure is like this:
Dogs table:
| id  | sire_id | dam_id |
| ------------- | ------------- | ------------- |
| 1  | 2  | 3  |
| 2  | 4  | 5 |
| 3  | 4  | 5 |
| 4  | null  | null  |
| 5  | null  | null  |

Dogs Pivot table:

| id  | child_id | parent_id |
| ------------- | ------------- | -----

[2022-06-05 13:40] staudenmeir commented on #109
I released `v1.11.1` with a `withMaxDepth()` helper:

[code]

[2022-06-05 14:04] daninfocus commented on #109
Wow this is perfect thank you so much!

[2022-06-05 14:04] #109 closed

[2022-06-06 13:24] cjmellor opened #110 "Paginating Results"
_Not really an "issue" per se, but there is no discussion board_

I'd like to paginate my results from this package and while technically I have got it working, the queries it's using seem avoidable, but haven't had success in reducing them.

Is there a simpler non-documented way of paginating the data?

I am doing it like so:

[code]

But it is giving me a lot of unnecessary queries (I believe)

[2022-06-06 13:30] staudenmeir commented on #110
Please share the `Section` model.

The pagination should only run two queries, I think the rest is coming from somewhere else.

How many queries do you see with this?

[code]

[2022-06-06 13:54] staudenmeir commented on #110
Ok, so the pagination only runs two queries as expected. What else are you doing in this controller method?

I think you were mislead a bit about the queries' origin because they all come from the `BuildsAdjacencyListQueries` trait. Due to the way the package integrates into the recursive model (e.g. `Section`), _all_ queries on the model now originate from this trait, even when they don't have to

[2022-06-06 13:58] cjmellor commented on #110
I see. Understandable. I'm fine with it as is, I'm just a sucker for getting as lesser queries as possible 😅

Thanks @staudenmeir

[2022-06-06 13:58] #110 closed

[2022-06-06 14:15] daninfocus opened #111 "Custom value when parent_id node doesn't exist?"
Hi, sorry for being here again...

I'm wondering if there is a way to add a custom value when parent_id in pivot table doesn't exist in node table.

So I'll continue with the example in #109

I need the pedigree list to be in order, and if the is no parent present, I need that position in the ancestor array to be empty, to structure the pedigree correctly.

So in this first example, the pedigree i

[2022-06-06 20:11] staudenmeir commented on #111
What does your `ancestors` query look like in these case?

[2022-06-06 20:21] daninfocus commented on #111
[code]

[2022-06-07 03:36] eli-s-r opened #112 "Using `MorphToManyOfDescendants` for graph relationships"
Hi @staudenmeir, thank you so much for creating this amazing package and for releasing the new graphs feature last week, which perfectly aligns with our use-case. I was wondering if there's a way to get the functionality of the [`MorphtoManyOfDescendants`](https://github.com/staudenmeir/laravel-adjacency-list#morphtomanyofdescendants) relation that is supported for the tree structure OOTB to work

[2022-06-07 10:56] staudenmeir commented on #112
Hi @eli-s-r,
Thanks. I'm working on the `*OfDescendants` relationships, but I'm not sure they would actually solve your case:

Do you need `descendantTags` to look like this?
`User` -> _morph-to-many_ -> Tag -> _recursive descendants_ -> Tag

[2022-06-07 13:06] eli-s-r commented on #112
@staudenmeir yes, exactly!

[2022-06-07 17:09] eli-s-r commented on #112
@staudenmeir so would this not be covered by the `*OfDescendants` relationships you mentioned you're working on?

[2022-06-07 17:52] staudenmeir commented on #111
What did that code look like and what queries did it run? It might be easier to optimize this code than adjust the other one.

[2022-06-07 18:10] staudenmeir commented on #112
Unfortunately not, `*OfDescendants` relationships work the other way around:

Tag -> _recursive descendants_ -> Tag  -> _morph-to-many_ -> `User`

Your case/direction is a whole new type of relationship.

How would you use a `descendantTags` relationship in your app? There might be workarounds.

[2022-06-07 18:41] eli-s-r commented on #112
@staudenmeir we have a bank of educational activities (and other things) that can be tagged by many things (e.g., topic). The structure of the tags is a graph, so _breakfast_ might be a child of _food_, but also a child of _morning activities_. If a user searches for _food_, it's important that anything tagged with _food_'s descendants is also in the results.

My current workaround is to use the r

[2022-06-09 02:54] sawirricardo opened #113 "Can it run alongside laravel-nestedset?"
Hi, great package, really love it.

I was thinking maybe we can try to make this package co-existable with current nested-set? Since it has some features I would love to use that doesn't require nested set, but didn't want to leave the nested set too.

https://github.com/lazychaser/laravel-nestedset

currently, if we just install this, it will have conflicting methods such as parents and children

[2022-06-09 06:17] staudenmeir commented on #113
Hi @sawirricardo,
How does/would your database structure look like? Would you have both the `parent_id` column for this package and the `lft` & `rgt` columns for nested set in the same table?

[2022-06-09 10:02] sawirricardo commented on #113
yes, `_lft` and `_rgt` to be precise, that's the nested set package standard way,

[2022-06-09 10:07] sawirricardo commented on #113
and I think should not the columns be in 1 table though? haven't seen structures which has lft/rgt and parent_id in different places 🤔

[2022-06-09 10:57] staudenmeir commented on #113
I didn't mean in comparison to having the columns in multiple tables, but I wanted to confirm that you want to have the columns for both packages at the same time. It sounds quite cumbersome to always keep two sets of hierarchies up-to-date and in sync.

You should be able to solve the conflicts with method aliases:
https://www.php.net/manual/en/language.oop5.traits.php#language.oop5.traits.confli

[2022-06-09 11:01] staudenmeir commented on #113
I just looked at the actual conflicts: You can solve the conflicts for methods like `ancestors` and `children` with aliases, but the conflicts for `newCollection` and especially `newEloquentBuilder` are different: You would have to manually merge classes of the two packages which is probably possible but quite a lot of work.

[2022-06-09 11:02] staudenmeir commented on #113
Does `lazychaser/laravel-nestedset` offer any features that you are missing from this package?

[2022-06-09 11:34] sawirricardo commented on #113
the motivation behind me is the uncertain to pick exactly 1 package between these two, hence the thinking to _why not use both_, but if it isn't possible, that's okay. Do you have any situation say... when you will pick this package rather than nested set? or vice versa?

[2022-06-10 09:39] #113 closed

[2022-06-18 12:29] staudenmeir commented on #112
A `MorphToManyOfDescendants` relationship as I described [here](https://github.com/staudenmeir/laravel-adjacency-list/issues/112#issuecomment-1149006976) would solve your inverse case, right (with `Activity` instead of `User`)?

[2022-06-19 12:30] #26 closed

[2022-06-19 13:09] staudenmeir commented on #111
Unfortunately, I don't see a way for the package to help you building this data structure.

However, you should be able to improve the performance of the original approach by fetching all ancestors beforehand:

[code]

[2022-06-24 07:55] Ariziky commented on #53
Hi, for me, there is no issue during installation; but the package is not installed at the end.
I'm using Laravel 9.17 and PHP 8.1.0.

Need help, please.

[2022-06-24 12:12] staudenmeir commented on #53
@Ariziky Please create a new issue. What do you mean by "the package is not installed at the end"? Is there an error?

[2022-06-24 16:15] emirlike opened #114 "wrong folder name .\vendor\staudenmeir\laravel-adjacency-list"
had to rename it to vendor\staudenmeir\LaravelAdjacencyList to make it work

[2022-06-24 16:25] #114 closed

[2022-06-24 16:25] emirlike commented on #114
sorry, my mistake

[2022-06-25 05:25] Ariziky opened #115 "No sub-folder created in the vendor"

[2022-06-25 05:27] #115 closed

[2022-06-25 18:53] emirlike commented on #103
Hi, I get the same error message if I try to use ANY of the methods provided by your extension.
In composer dump I can see staudenmeir/laravel-cte but staudenmeir/laravel-adjacent-lists is missing.

Btw I'm using Mariadb

This is my composer.json, can you please take a look?
[code]

[2022-06-25 19:09] staudenmeir commented on #103
@emirlike Please create a new issue. What error message are you getting?

That's expected, `staudenmeir/laravel-adjacency-list` can't show up here.

[2022-06-25 23:40] emirlike opened #116 "Call to undefined method Staudenmeir\LaravelAdjacencyList\Eloquent\Builder::descendants()"
Hi!
unfortunately I can't seem to get this extension to work. I'm a beginner with Laravel.

I have a user model and userRelationships model. The latter holds the parent-child bindings.

[code]

but whenever I call any of this extension methods, eg:
`$referrals = UserRelationships::where('user_id', $id)->descendants()->get();`

I get this error:
`Call to undefined method Staudenmeir\LaravelAdjacenc

[2022-06-26 06:46] staudenmeir commented on #116
You need to execute the first query to get the `UserRelationships` result before you use it to fetch a relationship:
https://laravel.com/docs/9.x/eloquent#retrieving-single-models

[code]

[2022-06-26 15:32] emirlike commented on #116
indeed it works. My apologies and thank you

[2022-06-26 15:32] #116 closed

[2022-06-28 10:36] MiladAheshmeh opened #117 "Filter path"
How can I filter a path that visible = 0

users
--------
id
first_name
last_name
parent_id
visible (0,1)

[2022-06-28 11:59] MiladAheshmeh commented on #117
$tree = User::withRecursiveQueryConstraint(function (Builder $query) {
   $query->where('users.active', true);
}, function () {
   return User::find(2)->descendants()
});

[2022-06-28 12:13] staudenmeir commented on #117
Hi @MiladAheshmeh,

You need to remove the parentheses to execute the relationship query:

[code]

[2022-06-28 17:00] MiladAheshmeh commented on #117
![Screen Shot 1401-04-07 at 21 29 07](https://user-images.githubusercontent.com/5099000/176239334-9b99d3e6-d64b-4da0-a16c-a842e8d9d862.png)
![Screen Shot 1401-04-07 at 21 28 52](https://user-images.githubusercontent.com/5099000/176239345-940f3239-d0ea-4aed-824b-85bc99667ac5.png)
![Screen Shot 1401-04-07 at 21 28 19](https://user-images.githubusercontent.com/5099000/176239353-a9a9501c-762d-46f0-b87

[2022-07-02 11:30] denisgoryaynov opened #118 "Incomplete results when using Single Table Inheritance"
I have a base Model called "Organization" and two children models "Company" and "Bar". The two child models share the same columns so it makes sense to store them under the same table "organizations" but since they have a lot of different methods/relations I don't want to clutter the base Model.

Currently I am using this package https://github.com/calebporzio/parental, which basically applies a s

[2022-07-02 20:31] staudenmeir commented on #118
Like `Company::find($id)->children`?

Isn't that the correct behavior when you use a child model? Queries on the `Organization` model would return all child models.

[2022-07-03 03:47] reksmeysrey opened #119 "[Question] - Create or append child on Multiple Parents per Node (Many-to-Many)"
First of all, thanks for amazing package.

I have question on creating/append specific parent on **Multiple Parents per Node (Many-to-Many)**

1. How to create or append child on specific parent
2. Is it possible to move one node of **_parent A_** to  another **node** of **_parent B_**

Link: [lazychaser/laravel-nestedset](https://github.com/lazychaser/laravel-nestedset#appending-and-prepending-to

[2022-07-03 11:56] staudenmeir commented on #119
Hi @reksmeysrey,

Thanks. I still need to document this part. Graph relationships are based on the `BelongsToMany` class and you can use its native methods on `children()` and `parents()`:
https://laravel.com/docs/9.x/eloquent-relationships#updating-many-to-many-relationships

[code]

[code]

[2022-07-04 01:54] reksmeysrey commented on #119
Thanks @staudenmeir

[2022-07-04 10:52] denisgoryaynov commented on #118
Yes, but the problem is that calling Organization::find($id) actually returns an instance of Company|Bar because of the scope applied by the library I use for single table inheritance so the method Organization::find($id)->children ends up calling the children method on the sub class, example:

$organization = Organization::find($id); // returns an App/Models/Company

$organization->companySpecifi

[2022-07-04 19:16] staudenmeir commented on #117
You're right, the query doesn't catch invisible descendants on the first level (direct children). I'm looking into a solution.

In the meantime, combine it with the (internal) scope `withRelationshipExpression()`:

[code]

[2022-07-04 20:19] staudenmeir commented on #118
If you don't use global scopes like `SoftDeletes`, you can remove all global scopes:

[code]

Certainly not ideal, but the easiest solution I see at the moment.

This is a not issue with my package but a limitation of `parental`: It affects `children` but any self-referencing `HasMany` relationship would have the same issue:

[code]

[2022-07-05 02:40] #119 closed

[2022-07-05 15:16] sawirricardo opened #120 "flat tree"
Hi @staudenmeir , really satisfied with this package.

I wonder though, do we have anything like flatTree()? I notice there's a tree(),

existing query are something like... I create them in order like this
[code]

but I'm expecting the end result will be something like...
[code]

[2022-07-05 15:17] sawirricardo commented on #120
we have to `toTree()` which is great. but I also think there should be a `toFlatTree()`

[2022-07-05 16:12] staudenmeir commented on #120
How are you using the package at the moment?

[2022-07-05 16:48] sawirricardo commented on #120
`Model::query()->with('ancestorsAndSelf')->get()->mapTheseCollectionToBreadcrumbStyle()`

[2022-07-06 00:40] sawirricardo commented on #120
Ahh you're right, putting the `tree()` and then the `depthFirst()` works. Thanks @staudenmeir

[code]

[2022-07-29 12:21] GregOstry opened #121 "Tree of Polymorphic relationship"
First of all i want to thank you for this awesome package. This helps me a lot to implement it in my use case.

I have a collections table that hold such polymorphic data:

| id | parent_id | collectable_type | collectable_id | order |
| -- | ---------- | ------------------ | --------------- | ------ |
| 1 | NULL | article         | 60            | 1    |
| 2 | 1        | attribute       | 1

[2022-07-29 15:40] staudenmeir commented on #121
Hi @GregOstry,
What do you mean by "but this gives me an extra relationship"? What do you do with the tree? Convert it to JSON?
What should the tree look like?

[2022-08-01 13:19] GregOstry commented on #121
Hi,

For each parent and child element I have a morp "collectable" relation. So instead of attributes from the origin table (collection) I would like to see the relation directly.
![tree](https://user-images.githubusercontent.com/24552504/182155951-c7ea60e4-36f4-4d51-b0fb-58522558bd76.png)

Is it possible to call the relation "collectable" recrusively?

[2022-08-01 22:51] staudenmeir commented on #121
If I understand you correctly, you can add a recursive method like this to your controller (?):

[code]

[2022-08-03 21:21] mradulovic988 opened #122 "Nested categories"
Hi there, thank you very much for this package!

I have the following error:
```SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'recursive `laravel_cte` as ((select *, 0 as `depth`, cast(`id` as char(65535)) a' at line 1```

Here is the Controller:
[code]

I

[2022-08-03 21:30] staudenmeir commented on #122
Hi @mradulovic988,
What version of MySQL/MariaDB are you using?

[2022-08-04 06:39] mradulovic988 commented on #122
Hi @staudenmeir

`mysql  Ver 8.0.29 for macos12.2 on x86_64 (Homebrew)`

[2022-08-04 16:09] staudenmeir commented on #122
Can you share the whole error message? What version of the package are you using?

[2022-08-04 19:30] mradulovic988 commented on #122
Package version: v1.11.1

Here is the log:
[code]

[2022-08-04 20:53] mradulovic988 commented on #122
I just tested on an empty Laravel project and got the same error.

[2022-08-04 21:38] staudenmeir commented on #122
What's the result of `dd(\DB::getPdo()->getAttribute(\PDO::ATTR_SERVER_VERSION));`?

[2022-08-04 21:49] mradulovic988 commented on #122
^ "5.7.32"

[2022-08-04 22:00] staudenmeir commented on #122
Your Laravel app is somehow not using the MySQL 8 database it should but a MySQL 5.7 database instead. The package requires MySQL 8 and that's what causes the error.

[2022-08-05 08:23] mradulovic988 commented on #122
Hey @staudenmeir

Thank you for the help. I will take care of that.

[2022-08-05 08:23] #122 closed

[2022-08-05 14:53] ljmclaney opened #123 "1105 unknown error"
I'm experiencing the following error message on MySQL 8.0.23 (using PlanetScale).

SQLSTATE[HY000]: General error: 1105 unknown error: syntax error at position 5 near 'with' (SQL: with recursive `laravel_cte` as ((select *, 0 as `depth`, cast(`id` as char(65535)) as `path` from `pages` where `parent_id` is null) union all (select `pages`.*, `depth` + 1 as `depth`, concat(`path`, ., `pages`.`id`) f

[2022-08-05 16:03] staudenmeir commented on #123
Hi @ljmclaney,
What's the result of `dd(\DB::getPdo()->getAttribute(\PDO::ATTR_SERVER_VERSION));`?

[2022-08-08 07:49] ljmclaney commented on #123
Hi @staudenmeir

Mine is 8.0.28.

I believe it's an issue with Planetscale, I've switched to a DB on DigitalOcean and it's working now.

Cheers!

[2022-08-08 07:49] #123 closed

[2022-08-09 23:33] #121 closed

[2022-08-09 23:34] #118 closed

[2022-08-09 23:35] #111 closed

[2022-08-18 18:37] igun997 opened #124 "I will donated this projects !! you save my day"
Send your paypal email here , of course you must replied with your author accounts !

[2022-08-18 20:01] veganista opened #125 "Issue with MariaDB when using Model::tree()->withCount('relation')"
It looks like there is an issue with MariaDB when using ```Model::tree()->withCount('relation')```, i've tested this with 10.3, 10.4, and 10.5. However, in MySQL 8.0 the query runs perfectly.

When trying to use ```Model::tree()->withCount('relation')``` in MariaDB, you get the following error:

[code]

Here are the tests i've set up on DB Fiddle. These include the query to set up the tables and t

[2022-08-18 21:42] staudenmeir commented on #125
Hi @veganista,
Unfortunately, MariaDB doesn't support this kind of query yet: https://jira.mariadb.org/browse/MDEV-19077

[2022-08-18 21:43] staudenmeir commented on #124
Hi @igun997,
Thanks for your support. This is my PayPal link: https://www.paypal.com/paypalme/JonasStaudenmeir

[2022-08-19 07:31] veganista commented on #125
I was trying to find out more about the issue last night and didn't come up agains that report.

[2022-08-19 07:31] #125 closed

[2022-08-20 06:13] zeematter opened #126 "Graph Trait is not available"
Hi,

I have tried to install few times but the Graph Triat is not available.

Not sure what's happening.

Regards
Zee

[2022-08-20 08:21] staudenmeir commented on #126
Hi @zeematter,
What error message are you getting? What version of the package are you using?

[2022-08-21 22:28] tsugawa opened #127 "Using withIntermediateScope() with custom model scope"
Can I use a scope created inside a model with withIntermediateScope()?

Ex.:

[code]

[2022-08-21 22:39] staudenmeir commented on #127
Hi @tsugawa,
You can call the scope inside of a closure:

[code]

[2022-08-21 22:44] ramiresGomes opened #128 "Issue with MariaDB 10.3.28"
Hello!!

I'm having problems using the package with Mariadb 10.3.28 on CentOS 8 Stream server.

I'm actually believing the problem is related to Mariadb but I need help with that to be sure.

`BlogCategory` Model
[code]

____
In `BlogCategoryController` i have this:
[code]
___
On localhost using Mysql 8 it is working but on the server with Mariadb it returns this error:
[code]

Am I doing somethin

[2022-08-21 23:25] #128 closed, assigned to nobody

[2022-08-22 00:10] tsugawa commented on #127
Hi @staudenmeir, worked perfectly!

Tks.

[2022-08-22 04:51] loveshiun opened #129 "getCustomPaths with pivot column"
When using pivot in `getCustomPaths()`, it always returns "undefined column error".

https://github.com/staudenmeir/laravel-adjacency-list#graphs-custom-paths

My getCustomPaths contains

[code]

Is it possible to have pivot_column in the path. Or how can I get a custom path containing pivot columns without another SQL querying?

[2022-08-22 11:46] #127 closed

[2022-09-02 17:18] nandi95 opened #130 "IDE helpers"
For the relations included in this package, there is no way to get the relations type hinted when using [barryvdh/laravel-ide-helper](https://github.com/barryvdh/laravel-ide-helper)

I have made a [hook](https://github.com/barryvdh/laravel-ide-helper#model-hooks) that correctly adds the relelations.
I'm proposing adding the hook utility class here despite it being related the the other plugin beca

[2022-09-02 18:11] staudenmeir commented on #130
Hi @nandi95,
Thanks, a PR would be great.

[2022-09-03 06:29] #130 closed

[2022-09-06 16:12] andrewskm opened #132 "Recursive common table expression 'laravel_cte' does not contain a top-level UNION ALL operator"
First off, fantastic package! Everything you've done to be able to add complexity to Laravel applications has been wonderful!

My issue I'm running into is I'm calling a model with descendants, but it's giving me the error `Recursive common table expression 'laravel_cte' does not contain a top-level UNION ALL operator`.
[code]

Where the Organization model is using `\Staudenmeir\LaravelAdjacencyLi

[2022-09-06 20:41] staudenmeir commented on #132
The package's graph functionality actually isn't fully supported on SQL Server at the moment because a few key aspects work differently than on MySQL and PostgreSQL. I'm still working on that, but you can test a preview if you update the package to `dev-sqlsrv` in your `composer.json`:

[code]

With that, the first query (`Organization::with('descendants')->...`) should work.

[2022-09-06 20:57] andrewskm commented on #132
That did it, the query works as intended now, in terms of being able to take advantage of the eager loading with conditions.

So this now works for me (needed to retrieve descendants of organizations that had certain conditions)
[code]

Thank you for your help!

[2022-09-06 20:58] #132 closed

[2022-09-06 21:07] staudenmeir commented on #132
Great, I'll let you know when I release an update.

[2022-09-08 05:33] Kmap-Holdings opened #133 "SQLSTATE[42712]: Duplicate alias: 7 ERROR: table name "person_parents" specified more than once"
Good day,

I get the following error when trying to use the HasGraphRelationships Package:

My composer file is as follows:

"require": {
        "php": "^8.0.2",
        "algolia/scout-extended": "2.0",
        "fakerphp/faker": "^1.9.1",
        "filament/filament": "^2.15",
        "filament/spatie-laravel-media-library-plugin": "^2.15",
        "guzzlehttp/guzzle": "^7.2",
        "laravel/fra

[2022-09-08 06:01] staudenmeir commented on #133
Hi @Kmap-Holdings,

You actually need work on and with a different model. Your equivalent to `Node` from the documentation is the `Person` (I assume that's what it's called):

[code]

I don't how your component works exactly, but you need to change that to something like this:

[code]

[2022-09-08 06:05] Kmap-Holdings commented on #133
Hi,

Thanks for the quick response. Much appreciated. Rookie mistake. Sorry for
that.

On Thu, Sep 8, 2022, 08:01 Jonas Staudenmeir ***@***.***>
wrote:

[2022-09-08 06:08] staudenmeir commented on #133
No worries!

[2022-09-08 06:25] #133 closed

[2022-09-08 06:49] Kmap-Holdings commented on #133
Work like magic! Thanks a mill again.

[2022-09-10 22:23] zeesmatter commented on #126
Sorry got busy and didn't see your comment,

I'm using 1.9.6 in Laravel 8

and I'm getting ""message": "Call to undefined method App\\Models\\Devices::treeOf()"

[2022-09-10 22:34] staudenmeir commented on #126
Please share your whole `Devices` model.

[2022-09-10 22:38] zeesmatter commented on #126
`<?php

namespace App\Models;

use App\Models\Statics\DevicesLevelsStatics;
use Illuminate\Database\Eloquent\Factories\HasFactory;
use Illuminate\Database\Eloquent\Model;
use Illuminate\Support\Facades\DB;
use Staudenmeir\LaravelAdjacencyList\Eloquent\HasRecursiveRelationships;

class DevicesLevels extends Model
{
    use HasFactory, DevicesLevelsStatics, HasRecursiveRelationships;

    protected

[2022-09-10 22:42] staudenmeir commented on #126
You are trying to call `treeOf()` on the `Devices` model, but the `HasRecursiveRelationships` trait is in the `DevicesLevels` model. How are these model connected?

[2022-09-10 22:46] zeesmatter commented on #126
Sorry I think I was calling it from wrong model and add to the different one :( All good now but you are awesome with your support. I'll make some donation today 👍

[2022-09-10 22:50] zeesmatter commented on #126
Can I call it from Devices model though?

They are connected with foreign id,

devices
id | name

devices_levels
id | devices_id | level | parent_id

[2022-09-10 22:55] staudenmeir commented on #126
It sounds like you need to use `treeOf()` with a custom constraint:

[code]

[2022-09-10 22:57] zeesmatter commented on #126
hmm, thanks. I think I am on right track then... :)

[2022-09-10 22:59] zeesmatter commented on #126
Just made some donation, thank you for your awesome work, time and help.

[2022-09-10 23:03] staudenmeir commented on #126
Thanks, I appreciate it!

[2022-09-11 20:34] staudenmeir commented on #132
I released the update, so you can go back from `dev-sqlsrv` to the normal version constraint.

[2022-09-14 20:46] andrewskm commented on #132
Awesome, thank you!

Is there still the inability to use `whereHas` on ancestors or descendants relations?
I know MSSQL doesn't let you have the CTE in a subquery/exists condition.

[2022-09-15 09:58] maximesahagian opened #134 "Automatic path without model ID"
Hello,

I have a problem with the path of my tree. I would like the path to be automatically as such:
1
1.1.1
1.1.2
2
2.1.1
Etc...

But unfortunately I have
ID
PARENT_ID.PARENT_ID2.ID
PARENT_ID.PARENT_ID2.ID
ID
PARENT_ID.PARENT_ID2.ID
Etc...

I don't want the model ID for my path, but just the current automatically generated path, is that possible?

Thank you

[2022-09-15 10:13] staudenmeir commented on #134
Hi @maximesahagian,
Which relationship are you using? What does your query look like?

Please share a few sample rows and the paths you are getting at the moment vs. the paths you would like to get.

[2022-09-15 11:01] ottz0 opened #135 "Root parent with relationships"
I have a list of servers with a relationship to it’s product sub category. I can’t see the relationship when I try to view it from it’s parent (null)?

I can only see it when I view it from the next node down (product sub category)

How can I attach my server list so it finds its way back to the root parent? It’s like product sub category cannot see it’s parent (the root)

[code]

[2022-09-15 11:36] staudenmeir commented on #135
Hi @ottz0,
Please share the migrations of all tables that are involved here.

[2022-09-15 12:13] ottz0 commented on #135
**Create Products Table**
[code]

**Create Servers Table**

[code]

[2022-09-15 14:43] maximesahagian commented on #134
Thank for your reply @staud

My request is easy as

[code]

And when i try for example $tree->first()->path, it's the model's ID, sounds OK, but I want to get the path as I asked above, and not the model_id.

For example in my tree i get parent with id = 7 in the DB, and a children with id = 3.

Here is what i get when i foreach and print path:
- 7
- 7.3
-
But what i want is:
- 1
- 1.1

Thank you

[2022-09-15 16:02] staudenmeir commented on #135
What query are you executing in this case?

[2022-09-15 16:15] staudenmeir commented on #134
I'll see if there's a solution for that.

[2022-09-15 16:23] staudenmeir commented on #134
Which database engine are you using?

[2022-09-16 05:03] ottz0 commented on #135
Hi Sorry it's not an issue. I just can't get the right query or relationship.

I have two models Products and Servers.

Here I can get the Parent (null) Categories with the sub categories but can't get the other model (posts)

[code]

Here I can get the sub categories with the posts but can't get Parent (null) categories
[code]

How can I create a relevant query where I can get the whole tree node

[2022-09-16 08:35] maximesahagian commented on #134
I'm using Mysql @staudenmeir

[2022-09-16 08:38] ottz0 commented on #135
I think this might have it

[code]

[2022-09-16 17:22] staudenmeir commented on #134
What do you want to do with that path? Show it in a view?

I looked into generating the path in SQL and it's probably possible, but the query would be pretty complex. It would be much easier to generate the path in PHP after executing the query.

[2022-09-16 18:38] maximesahagian commented on #134
Absolutely, it’s to show it in a view

[2022-09-17 12:38] staudenmeir commented on #134
Try something like this:

[code]

[2022-09-19 00:06] #135 closed

[2022-09-21 12:47] soundar8562 opened #136 "Getting count with whereDepth"
Currently, we are getting a count of different depths of **same model** in separate queries like below,

$count1 = **Model**::find(2)->descendants()->whereDepth(**3**)->where('status', 1)->count();
$count2 = **Model**::find(2)->descendants()->whereDepth(**4**)->where('status', 1)->count();

Is it possible to get the count in a single query?

[2022-09-21 18:16] staudenmeir commented on #136
You can get the counts in a single query, but – depending on your table size and database engine – that is not guaranteed to be faster than two separate queries:

[code]

[2022-09-21 19:48] DekaAkademi opened #137 "Custom variable to a constraint"
Hello;
I need to use the constraints like below:

$constraints = function ($query, $lessons) {
    $query->whereIn('lesson_id', $lessons)->orderBy('order', 'desc);
};
$tree = Subject::treeOf($constraints)->get()->toTree();

$lessons holds an array of ids. It doesn't work with this usage. But if I type the array [2,3,4,5,6,7] as hard coding, it works.
How can I solve this problem?

Error: '1 passed

[2022-09-21 19:53] staudenmeir commented on #137
Hi @DekaAkademi,
Do you mean like [this](https://www.php.net/manual/en/functions.anonymous.php#example-184)?

[code]

[2022-09-21 20:02] DekaAkademi commented on #137
Thanks it worked!

[2022-09-21 20:02] #137 closed

[2022-09-22 12:36] gpluess opened #138 "Showing root element when filtering children"
Consider the following table (`name` contains json). There are only root entries and direct children, not any more descendants:
[code]
I would like to filter/search this table, for example I want all rows containing `ing`.
**Important**: if a root element does not contain the search string but any of its children does, it should be included as well. This would be the result set:
[code]
What I trie

[2022-09-22 20:21] staudenmeir commented on #138
Hi @gpluess,
Do you mean like this?

[code]

[2022-09-23 09:20] Warmic opened #139 "Bulder->paginate queries entire tree to get total amount of items"
Hello, I just ran into an issue where I wanted to use "paginate "method for pagination of root models. However, I saw that $paginator->total was equal to amount of items in the entire tree(roots + descendants).

Example:
`
{
    "total": 3,
    "data: [
        "id": 1,
        "parent_id": null,
        "children": [
            {
                "id": 2,
                "parent_id": 1,

[2022-09-23 16:40] gpluess commented on #138
Hi @staudenmeir, thanks a lot for your suggestion! This returns the correct records.

[2022-09-23 16:40] #138 closed

[2022-09-23 21:57] staudenmeir commented on #139
Hi @Warmic,

What query are you executing here?

[2022-09-23 23:15] Warmic commented on #139
Oh yeah, I completely forgot to mention that I am doing it with result of tree() query.
Code can look as simple as:
`
use Staudenmeir\LaravelAdjacencyList\Eloquent\Collection;

$paginator = Model::tree()->paginate();
$tree         = (new Collection($paginator->collect()))->toTree();
`

[2022-09-25 19:26] staudenmeir commented on #139
Use this to only get root models:

[code]

Do you then need the tree for every paginated root model?

[2022-09-25 19:47] Warmic commented on #139
Yes, I need to paginate through root models,which have trees. So that ?page=N will be applied to offset root models

[2022-09-26 15:49] gpluess commented on #138
Hi @staudenmeir,
sorry to bother you again but I'm stuck with an additional query and I can't figure out what I am doing wrong... Besides filtering by a string like in the above example I would like to filter by `subject_id` as well. So for example: I want all records that contain `ing` and belong to a certain subject (either directly or via their root).

What I came up with:
[code]
This gives me

[2022-09-26 16:15] staudenmeir commented on #138
Hi @gpluess,
You need to [group](https://laravel.com/docs/9.x/queries#logical-grouping) the constraints:

[code]

[2022-09-26 18:59] gpluess commented on #138
Thanks a lot, @staudenmeir! I just had to change the `orWhere()` to `where()` to make it work according to my needs.

[2022-09-27 05:00] soundar8562 commented on #136
Yes right, as you mentioned we get the same speed for each query.

Here we are looping through all the ids and ->find($id) to get a count so instead of doing a count inside the loop do you have any idea on getting on the main query?

$m1 = Model::**whereDepth(1)**->pluck('id');

$count1=array();
$count2=array();
foreach($m1 as $key => $id){
  $count1[$key] = Model::find($id)->descendants()**->wher

[2022-09-27 19:43] staudenmeir commented on #136
What's the maximum depth in your tree? Do you have a lot of descendants with `depth > 4`?

[2022-09-27 19:50] staudenmeir commented on #139
Does the query work for you?

[2022-09-28 08:50] soundar8562 commented on #136
The total depth of my tree is 4.

**For example,**

Depth 1. **State**
    Depth 2. **District**
        Depth 3. **City**
             Depth 4. **Village**

[2022-09-28 18:44] staudenmeir commented on #136
In that case, you can compare the performance to an approach that builds the whole tree once:

[code]

[2022-09-28 20:50] #124 closed

[2022-10-04 06:11] sdfarshid opened #140 "When I used tree it return all items which has child as root"
Hi this is my TB
![image](https://user-images.githubusercontent.com/9034581/193746635-62267490-8b77-43fe-be1d-32d3a98772b2.png)
And this is my code
     $constraint = function ($query) {
            $query->whereNull('parent_id');
        };
 return  $users = Category::select(['id', 'name AS text','parent_id'])->treeOf($constraint)->get()->toTree();
 So I see below  as a return

 [
  {
    "id": 1

[2022-10-04 06:28] sdfarshid commented on #140
I see  this issue
Tree with orderBy #20
It help me to get what things I expected but I didn't use the tree
  return  $users = Category::select(['id', 'name AS text','parent_id'])->whereNull('parent_id')
                    ->with(['children:id,name AS text ,parent_id'])->get();

[2022-10-04 15:57] staudenmeir commented on #140
Hi @sdfarshid,
Do you only want to get the root models (`PartenA ` and `Parent B`)?

[2022-10-04 16:00] staudenmeir commented on #140
Hi @sdfarshid,

That's correct. `tree()` returns all models, not just the root models.

Is your issue solved?

[2022-10-06 04:50] soundar8562 commented on #136
Okay still we are getting the same in performance vice, is there any possibility to do like the one below?

StateProfile::join('Table as s', 'stateprofile.state_id', '=', 'model.id')
        ->select('stateprofile.*','s.name as state_name','s.id as state_id')
        ->selectRaw("**Table::find(state_id)->descendants()->whereDepth(3)->where('status', 1)->count()**")
        ->orderBy('state_name')

[2022-10-07 21:32] staudenmeir commented on #136
What database are you using?

[2022-10-07 22:30] sdfarshid commented on #140
So if I want to have a tree with just roots and children what can do?
I define   a children Metod in the model and after that  do this
        return $this->hasMany(self::class, 'parent_id')->with('children:id,name AS text,parent_id');

[2022-10-07 22:59] #134 closed

[2022-10-07 22:59] #126 closed

[2022-10-09 14:14] staudenmeir commented on #140
How are you using this relationship in your query?

[2022-10-12 04:56] soundar8562 commented on #136
MariaDB

[2022-10-12 16:01] staudenmeir commented on #136
This is equivalent to `->withCount('descendants')` (with an additional constraint), but MariaDB doesn't support this kind of query yet: https://jira.mariadb.org/browse/MDEV-19077

[2022-10-12 20:38] sdfarshid commented on #140
I used your answer  https://github.com/staudenmeir/laravel-adjacency-list/issues/20
 It is ok

 class Product extends Model
{
    public function children()
    {
        return $this->hasMany(self::class, 'parent_id')->with(''children:id,name AS text,parent_id');
    }
}

Product::whereNull('parent_id')->with('children:id,name AS text,parent_id')->get();

For having Graphs: Multiple Parents per N

[2022-10-13 22:34] ap1969 opened #141 "Orderby Each Level"
Hi,

Is it possible to apply an orderBy clause to each level in the heirarchy?

So if I had

[code]

And queried the entire tree, ordering by title, I would get:

[code]

Many thanks in advance,
Andy

[2022-10-14 08:36] staudenmeir commented on #141
Hi @ap1969,
Try this:

[code]

[2022-10-14 11:54] ap1969 commented on #141
Ah, thanks. That worked. I didn't quite understand what breadthFirst() does.

[2022-10-14 11:54] #141 closed

[2022-10-20 06:09] #139 closed

[2022-10-20 21:57] Abdelraman commented on #128
any work around for that instead of switching to mysql 8 ? thanks

[2022-10-20 22:08] staudenmeir commented on #128
@Abdelraman: Only something like this: https://github.com/staudenmeir/laravel-adjacency-list/issues/103#issuecomment-1113940935

[2022-10-21 10:39] Abdelraman commented on #128
@staudenmeir thanks for your quick response, by using the mentioned sol. I will not be able to eager load the relation or even sort by the count col.  :(

[2022-10-21 16:14] staudenmeir commented on #128
@Abdelraman Yeah, there's no workaround for that.

[2022-10-22 01:38] winkcler opened #142 "Problem hasManyOfDescendants Relation"
Hello, I'm having a problem with the HasManyOfDescendants relationship.

I'm getting the following error:

![image](https://user-images.githubusercontent.com/4259380/197310806-b8342f7f-fe0c-499a-8566-2fbbde2d6cd5.png)

I'm using Laravel 9 and My Sql 8.

Anyone have an idea what it could be?

[2022-10-22 06:20] staudenmeir commented on #142
Hi @winkcler,
How is your `HasManyOfDescendants` relationship defined and how are you using it?

[2022-10-26 06:32] denizgolbas opened #143 "Conditional sub query"
I have this query. There is a 'sign' column for amounts. How can implement a sub query if the sign column is negative multiply -1?

`
\App\Models\Accounting\Account::find(1)->descendantsAndSelf()->withSum('slips as total', 'total_amount_base')->get()->sum('total');
`

[2022-10-26 17:43] staudenmeir commented on #143
Hi @denizgolbas,
What are the exact values?

[2022-11-07 16:27] stephanesoares commented on #117
Someone has a solution for this?

[2022-11-07 21:34] #136 closed

[2022-11-16 22:28] valentinomariotto opened #144 "make the relationship time-dependant"
Hi, I really appreciate your work with this package, saved me a lot of headache.

I have a simple 1 parent to many children relationship.
The main model is my User model, but the relationship data is stored in another table.
I have simple parent and children function directly in the User model, and I use your functions to get all the descendants or the ancestors from the relationships table, and t

[2022-11-16 22:35] staudenmeir commented on #144
Hi @valentinomariotto,
Please share the migrations of both tables.

Did you already [get started](https://github.com/staudenmeir/laravel-adjacency-list#graphs-getting-started) with that and try the "normal" `descendants`/`ancestors` relationships?

[2022-11-17 07:33] staudenmeir commented on #55
I released a new version that adds support for these relationships (and others) using [staudenmeir/eloquent-has-many-deep](https://github.com/staudenmeir/eloquent-has-many-deep):
https://github.com/staudenmeir/laravel-adjacency-list#concatenation

[code]

[2022-11-17 07:46] staudenmeir commented on #79
I forget to update you when I released support for graph relationships (Laravel 9):
https://github.com/staudenmeir/laravel-adjacency-list#graphs-multiple-parents-per-node-many-to-many

[code]

[code]

[2022-11-17 10:47] valentinomariotto commented on #144
well, not yet.. Because I realize that I need an additional table (edges) for using the graph mode and it seems too much overhead and complexity for my needs.

These are the migrations:

Schema::create('users', function (Blueprint $table) {
            $table->bigIncrements('id');
            $table->string('username', 32)->unique();
            $table->string('email')->unique();
            $tabl

[2022-11-17 11:07] staudenmeir commented on #144
`user_relationships` is the additional table ;-) `user_id` and `sponsor_id` are the keys you need to set up in your model as described in the README.

[2022-11-17 11:40] valentinomariotto commented on #144
ooooh, now I understand.

But do I really need the graph mode? For now, I tried with this constraint on the tree mode. I returns results, but the constraints don't apply

[code]

[2022-11-17 19:51] staudenmeir commented on #144
Can you log this query with `->children()` and `->descendants()`?

[2022-11-19 12:16] #143 closed

[2022-11-19 12:16] #142 closed

[2022-11-19 12:21] staudenmeir commented on #140
No, graph relationships don't work on Laravel 8.

[2022-11-23 00:32] #55 closed

[2022-11-24 14:51] valentinomariotto commented on #144
Hi, my apologies for the delay.
Let's consider an example.
The relationships are as follows:
[code]
the relationship between 234 and 24 was superseded by a new one between 234 and 25.

I set up a test route, here with the `ancestors()` method:
[code]

these are the results:

[code]

using the **children()** method (not changing anything else in the previous code):
[code]
the constraint are ignored

[2022-11-24 15:00] valentinomariotto commented on #144
if I apply the constraint on the results too:
[code]

then I can get rid of the superseded relationship. BUT it still looks up the ancestors of the superseded relation:

[code]

[2022-11-24 21:00] staudenmeir commented on #144
Now you want to get the latest descendant (or ancestor, respectively)?

[2022-11-24 21:49] valentinomariotto commented on #144
Hi! I want to be able to retrieve a tree of descendants or a line of ancestors at any point in time.
If no date is provided, then the resulting tree should be the current one (which will use the latest ancestor).

It seems to me that this is the part that's not working:
`select `user_id` from `laravel_cte` where `created_at` <= ? and `superseded_at``

[2022-11-24 22:04] staudenmeir commented on #144
With the sample data from https://github.com/staudenmeir/laravel-adjacency-list/issues/144#issuecomment-1326552305, what result should the query give you for each of the users (and why)?

[2022-11-24 22:28] valentinomariotto commented on #144
ancestors() query from user 437 should produce:
- 234, 25, 24 at any date past 2022-10-21 12:00:00
- 234, 24 at any date prior to 2022-10-21 12:00:00
because the relationship 24>234 had been superseded by the relationship 25>234 on that date.

descendants() query from user 25 should produce:
- 437 at any date prior to 2022-10-21 12:00:00
- 234, 437 at any date past 2022-10-21 12:00:00
because 234

[2022-11-26 09:20] staudenmeir commented on #144
You don't want to stop when a relationship like `25 -> 234` is excluded but continue traversing down the tree? So unlike how [`withRecursiveQueryConstraint()`](https://github.com/staudenmeir/laravel-adjacency-list#recursive-query-constraints) behaves?

[2022-11-26 09:55] valentinomariotto commented on #144
pardon me Jonas, I'm not sure I understand this question.

if you consider the ancestors() of 437 at the present date, then the recursive query should:
[code]
Resulting int: 234, 25, 24.

similarly, if you consider the descendants() of 24 at the present date, then we have this logic:
[code]
resulting in: 25, 234, 437 ... and others

thank you for helping out!

[2022-11-26 14:28] valentinomariotto commented on #144
ok, I found that **this works fine for the descendants**:

[code]

I need to apply the condition twice, because the RecursiveQueryConstraint does not apply to the first iteration.

On the other hand, **it still does not work for the ancestors.** Same problem as already described.

[2022-11-26 14:48] valentinomariotto commented on #144
one last thing.. is it possible to apply the RecursiveQueryConstraint by default through some sort of scope, rather than writing it every time? Thank you

[2022-11-28 09:11] valentinomariotto commented on #117
apply the same constraint to the original query too, because the withRecursiveQueryConstraint does not apply to the immediate children and parents of the target user.

so either what Jonas did [here](https://github.com/staudenmeir/laravel-adjacency-list/issues/117#issuecomment-1174128600) or like so, it should work the same:
[code]

[2022-11-29 21:30] valentinomariotto commented on #144
actually no, this still fails for immediate parents. It exapands the ancestor line when it should not.

it works if the parent is not immediate.

for example:

[code]
- get ancestors of 511 at present time: works, producing 437, 234, 25, 24, 1
- get ancestors of 437 at present time: fails, producing 234, 24, 25, 1, 24, 1